<!--{if $badge_id_related_to_page == 0}-->
<!--{subtemplate home/10_header}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 2}-->
<!--{subtemplate home/cga_trainer}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 1}-->
<!--{subtemplate home/club_trainer}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 4}-->
<!--{subtemplate home/foreign_trainer}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 3}-->
<!--{subtemplate home/hmt_trainer}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 18}-->
<!--{subtemplate home/cga_referee}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 20}-->
<!--{subtemplate home/common_employee}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 7}-->
<!--{subtemplate home/course_manager}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 19}-->
<!--{subtemplate home/caddie}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 8}-->
<!--{subtemplate home/lawn_expert}-->
<!--{/if}-->

<!--{if $badge_id_related_to_page == 9}-->
<!--{subtemplate home/expert}-->
<!--{/if}-->
<style type='text/css'>
	#append_parent #replyface_101_menu {
		width: 200px; height: 100px; line-height: 30px; padding: 10px;
	}
	#append_parent #replyface_101_menu li {
		height:50px; line-height:50px
	}
</style>
<div class="wad">
	<!--{subtemplate home/10_left}-->
	<div class="righter y">
		<div class="gglb"><span>品味高球人生，分享高球乐趣，您有什么球坛乐事，与大家分享一下吧！</span></div>
		<div class="righter">
			<div class="right_left z">
				<div class="ggbg">&nbsp;</div>
				<!--{subtemplate home/10_center}-->
				<!-- 滑动按钮 -->
				<div class="hd">
					<a name="maowall"><div class="erbg"><p class="erbiaoti"><!--{$visitname}-->的留言板</p></div></a>
					<div class="ercontent">
				<!----------留言板开始------------>
						<!--{subtemplate home/space_comm_wall}-->
				<!----------留言板结束------------>
                        <br />
					</div>
				</div>
			</div>
			<!--{subtemplate home/10_right}-->
		</div>
	</div>
</div>
<!--{subtemplate home/10_footer}-->
