<!--{subtemplate home/20_header}-->
<div id="wtcontent">
	<div class="z z1">
		<!--{subtemplate home/20_left}-->
	</div>
    <link href="static/space/20/jdt.css" rel="stylesheet" type="text/css" />
	<div class="z qpg_z3">
		<br>
        <!--{subtemplate home/20_qpg_center}-->
	    <div class="qpg_xin clear">&nbsp;</div>
        <br>
        <div style="width:663px; margin:0 auto; background-color:#FFF; padding-left:14px;">
        <!--img src="{STATICURL}space/uidcss_1889193/images/qpg_1.jpg" width="649" height="236"-->
        <!--焦点图-->
       <!--{subtemplate home/20_jdt}-->
        <!--焦点图-->
        </div>
        <div class="qpg_er">三星大礼包预定</div>
        <div class="qpg_er_1">
            <div class="center"><img src="{STATICURL}space/uidcss_1889193/images/sanxing_4.gif"></div>
            <div class="center"><img src="{STATICURL}space/uidcss_1889193/images/sanxing_5.gif"></div>
            <br>
            <div class="center"><img src="{STATICURL}space/uidcss_1889193/images/qpg_kf.jpg" width="649" height="64"></div>
            <br>
        </div>

  </div>
	
	<div class="clear"></div>
</div>

<!--{subtemplate home/20_foot}-->
