		<!--{if $uid=='1899466'}-->
		<div class="rightlmn"><span class="rlm1">
<h1>委员会</h1></span>  <span class="rlm2"><a href="/home.php?mod=space&uid=$uid&do=weiyuan&type=3">更多</a></span></div>
		<div class="ylmcon">
			<div id="circular-box" class="clearfix">
			<ul>
            <!--{loop $wy $value}-->
			<li><a href="home.php?mod=space&uid=$value[recomid]"><img src="uc_server/avatar.php?uid=$value[recomid]&size=middle" width="62" height="57" /><span class="cir-bg"></span></a><p class="center top5" style="width:60px; height:23px; line-height:23px;"><a href="home.php?mod=space&uid=$value[recomid]">$value[realname]</a></p>
            </li>
			<!--{/loop}-->
			</ul>
		</div>
		<div class="clear"></div>
      </div>
      <!--{/if}-->
		<div class="rightlmn"><span class="rlm1">
<h1>会员</h1></span>  <span class="rlm2"><a href="home.php?mod=space&uid=$uid&do=member">更多</a></span></div>
		<div class="ylmcon">
			<div id="circular-box" class="clearfix">
			<ul>
            <!--{loop $yglist $value}-->
			<li><a href="home.php?mod=space&uid=$value[userid]" title="$value[realname]"><img src="uc_server/avatar.php?uid=$value[userid]&size=middle" width="62" height="57" alt="$value[realname]" /><span class="cir-bg"></span></a><p class="center top5" style="width:60px; height:23px; line-height:23px;"><a href="home.php?mod=space&uid=$value[userid]"><!--{if strlen($value[realname]) ==0 }-->$value[username]<!--{else}--><!--{eval echo cutstr($value[realname],8,'');}--><!--{/if}--></a></p>
            </li>
			<!--{/loop}-->
			</ul>
		</div>
		<div class="clear"></div>
      </div>
   
	<!--{if $jlarr}-->	
     <div class="rightlm"><span class="rlm1"><h1>球场教练</h1></span> </div>
		<div class="ylmcon">
            <!--{loop $jlarr $vk}-->
            <div class="qcjl">
			<p class="center"><a href="home.php?mod=space&uid=$vk[uid]"><img src="uc_server/avatar.php?uid=$vk[uid]&size=small" width="50" height="50" /></a></p>
			<p class="center"><a href="home.php?mod=space&uid=$vk[uid]">$vk[realname]</a></p>
			</div>
			<!--{/loop}-->
			
			<div class="clear"></div>
      </div>
       <!--{/if}--> 
		<div class="rightlm"><span class="rlm1"><h1>企业群组</h1></span>  </div>
		<div class="ylmcon">
			<!--{if $grouplist}-->
            <!--{loop $grouplist $v}-->
            <p class="center"><a href='/t/index.php?mod=qun&qid=$v[qid]'><img src="/weibo/<!--{$v[icon]}-->" width="78" height="47"></a></p>
            <p class="center"><!--{$v[name]}--></p>
            <p class="center"><span><a href='home.php?mod=space&uid=<!--{$v[founderuid]}-->'><!--{$v[foundername]}--></a></span><span><!--{$v[member_num]}-->人</span></p>
            <!--{/loop}-->
			<!--{else}-->
            <p class="center">未创建或参加任何群组</p>
            <!--{/if}-->
            
		</div>
		 
		 
		<div class="rightlm"><span class="rlm1"><h1>热门话题</h1></span>  <span class="rlm2">
         <!--{if $space['self']}-->
        <a href="home.php?mod=spacecp&ac=weibo&op=topic">
        <!--{else}-->
        <a href="home.php?mod=space&do=common&op=topic&uid=$uid">
        <!--{/if}-->
        更多</a></span></div>
		<div class="ylmcon">
			<div class="rmht">
				<!--{if $topic}-->
                <!--{loop $topic $val}-->
                <p>
                <!--{if $space['self']}-->
                <a href="home.php?mod=spacecp&ac=weibo&op=topic&tcode=<!--{$val}-->">
                <!--{else}-->
                <a href="home.php?mod=space&do=common&op=topic&tcode=<!--{$val}-->&uid=<!--{$uid}-->">
                <!--{/if}-->
                <!--{$val}--></a></p>
				<!--{/loop}-->
				<!--{else}-->
				<p>未参加任何话题</p>
				<!--{/if}-->
		    </div>
		</div>
		<!--<div class="rightlm"><span class="rlm1"><h1>活动推荐</h1></span>  <span class="rlm2"><a href="#"></a></span></div>
		<div class="ylmcon">
			<p class="center"><img src="{STATICURL}space/20/images/hdtj.jpg" width="147" height="70"></p>
			<p class="center top10">最新活动推荐</p>
			<p class="center"><img src="{STATICURL}space/20/images/hdtj.jpg" width="147" height="70"></p>
			<p class="center top10">最新活动推荐</p>
        </div>
        -->
		<div class="rightlm"><span class="rlm1"><h1>热门标签</h1></span>  <span class="rlm2">
        <!--{if $space['self']}-->
        <a href="home.php?mod=spacecp&ac=weibo&op=tag">
        <!--{else}-->
        <a href="home.php?mod=space&do=common&op=tag&tag=$value[tag_name]&uid=<!--{$uid}-->">
        <!--{/if}-->
        
        更多</a></span></div>
		<div class="ylmcon">
			<div class="rmbq">
			<!--{loop $tagblglist $value}-->
            <span>
            <!--{if $space['self']}-->
            <a href="home.php?mod=spacecp&ac=weibo&op=tag&tag=$value[tag_name]">
            <!--{else}-->
            <a href="home.php?mod=space&do=common&op=tag&tag=$value[tag_name]&uid=<!--{$uid}-->">
            <!--{/if}-->
            $value[tag_name]</a></span><span> | </span>
			<!--{/loop}-->
            </div>
		</div>
		<div class="rightlm"><span class="rlm1"><h1>友情链接</h1></span>  <span class="rlm2"><a href="#"></a></span></div>
		<div class="ylmcon">
			<!--{template home/spacelink}-->
        </div>