<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{STATICURL}space/jingcai/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="jc jc_top"></div>
<div class="jc jc_menu1"></div>
<div class="jc jc_menu2"></div>
<div class="jc jc_con">
	<br />
    <div class="jcsy1">
        <div class="z jcsy_1"><img src="{STATICURL}space/jingcai/images/dss.jpg" width="119" height="88" /></div>
      <div class="y jcsy_2">
        <h1>上海大师巡回赛</h1>
        <p>上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="jcsy2">
  		<div class="center"><img src="{STATICURL}space/jingcai/images/jc1_r3_c3.jpg" width="776" height="11" /></div>
        <br />
        <div class="jcsy2_3"><img src="{STATICURL}space/jingcai/images/jc1_r5_c4.jpg" width="158" height="28" /></div>
        <div class="jcsy2_3">
            <ul>
            	<li><img src="{STATICURL}space/jingcai/images/j1.jpg" width="118" height="118" /></li>
                <li><img src="{STATICURL}space/jingcai/images/j2.jpg" width="118" height="118" /></li>
                <li><img src="{STATICURL}space/jingcai/images/j3.jpg" width="118" height="118" /></li>
                <li><img src="{STATICURL}space/jingcai/images/j4.jpg" width="118" height="118" /></li>
                <li><img src="{STATICURL}space/jingcai/images/j5.jpg" width="118" height="118" /></li>
                <li><img src="{STATICURL}space/jingcai/images/j6.jpg" width="118" height="118" /></li>
            </ul>
        </div>
        <br />
        <div class="jcsy2_3"><img src="{STATICURL}space/jingcai/images/jc1_r10_c4.jpg" width="158" height="27" /></div>
      <div class="jcsy2_3 guize">上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛</div>
        <div class="caixiang">
        	<span><img src="{STATICURL}space/jingcai/images/jc1_r12_c5.jpg" width="190" height="53" /></span>
            <span><img src="{STATICURL}space/jingcai/images/jc1_r12_c9.jpg" width="190" height="53" /></span>
            <span><img src="{STATICURL}space/jingcai/images/jc1_r12_c11.jpg" width="190" height="53" /></span>
        </div>
        <div class="mingc">
        <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="124" align="center"><img src="{STATICURL}space/jingcai/images/m1.jpg" width="123" height="107" /></td>
    <td align="center">&nbsp;</td>
    <td width="124" align="center"><img src="{STATICURL}space/jingcai/images/m2.jpg" width="123" height="107" /></td>
    <td align="center">&nbsp;</td>
    <td width="124" align="center"><img src="{STATICURL}space/jingcai/images/m3.jpg" width="123" height="107" /></td>
    <td align="center">&nbsp;</td>
    <td width="124" align="center"><img src="{STATICURL}space/jingcai/images/m4.jpg" width="123" height="107" /></td>
    <td align="center">&nbsp;</td>
    <td width="124" align="center"><img src="{STATICURL}space/jingcai/images/m5.jpg" width="123" height="107" /></td>
  </tr>
  <tr>
    <td height="20" align="center">冠军</td>
    <td align="center">&nbsp;</td>
    <td align="center">第二名</td>
    <td align="center">&nbsp;</td>
    <td align="center">第三名</td>
    <td align="center">&nbsp;</td>
    <td align="center">第四名</td>
    <td align="center">&nbsp;</td>
    <td align="center">第五名</td>
  </tr>
</table>
</div>
        <div class="tij"><img src="{STATICURL}space/jingcai/images/jc1_r14_c13.jpg" width="81" height="23" /></div>
        <br />
        <div class="wangqi_1"><p><a href="#">更多</a></p></div>
        <div class="wangqi_2">
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
            <li>上海大师巡回赛</li>
        </div>
        <div class="wangqi_3"></div>
        <br />
    </div>
	<div class="jcsy3"></div>
    
</div>
<div class="jc jc_bot"></div>
</body>
</html>
