/*###########################
   @Name:海底世界 
#############################*/
body{ background-color:#F5BC49; background-image:url(images/themebg.jpg);background-position:center 0px;background-repeat:repeat; background-attachment:fixed;}
a:link{color:#2965B1;text-decoration:none;}
a:visited{color:#2965B1;text-decoration:none;}
a:hover{color:#2965B1;text-decoration:underline;}
.headerBg { background:#1288B7;}
.headerNav{ color:#fff;}
.headerNav a:link {color:#fff;text-decoration:none;}
.headerNav a:hover {color:#fff;text-decoration:underline;}
.headerNav a:visited {color:#fff;text-decoration:none;}
.main{ background:url(images/rightbg.png) repeat-y right center}
.top_nav2 { background:#c4def0}
.top_nav2 li .m_r0 a{ color:#fff;}
.person_atten_l{ border-right:#336699 1px solid}
.sideBox .sTitle{ background:url(images/side_bg.gif) no-repeat 0 0 }
/*.boxRNav2 li,.boxRNav2 li a{background-image:url(images/sideLb.png);_background-image:url(images/sideLb.gif);}
.boxRNav2 li.current{background-image:url(images/sideLb.png);_background-image:url(images/sideLb.gif);}*/
.boxRNav2 li.current a{ color:#2965B1;}
.bottomLinks{ background:url(images/foot_bg.png);}
.vDateBox{background:#E9F9FF; border:1px solid #A1C7DD;}
.rbt_2{ background:url(../images/rbg_r2_c1.gif) no-repeat; width:180px; height:30px;}
.rbt_2 a{ color:#fff;}
.boxRNav3 li.current a{color:#2965B1}
/*新增侧栏部分*/
.rught_tj_box{background:url(images/right_tj_t.gif) no-repeat; color:#666666;}
.rught_tj_box span{ background:#ecf5f9;border:#B0C9D8 1px solid; border-top:none;}
/*三栏部分*/
.t_col_main{background:url(images/rightbg2.png) repeat-y;}
/*我的粉丝部分*/
ul.boxRNav3 li:hover,ul.boxRNav3 li.hover{ z-index:1;background-color:#BCE8F2;}
ul.boxRNav3 li.index:hover,ul.boxRNav3 #x1.hover{ background-color:#BCE8F2;}
ul.boxRNav3 li.current{ height:26px;z-index:2;background-color:#70CCE2;}
/*三栏左边导航*/
.t_col_main_fl .boxRNav2 li.index:hover{background-color:#BCE8F2;}
.t_col_main_fl .boxRNav2 li a:hover{text-decoration:none;background-color:#BCE8F2;} 
.t_col_main_fl .boxRNav2 li:hover{z-index:1;background-color:#BCE8F2;}
.t_col_main_fl .boxRNav2 li.index:hover{background-color:#BCE8F2;}
.t_col_main_fl .boxRNav2 li.current,.t_col_main_fl .boxRNav2 li.current:hover{background-color:#BCE8F2;}
.t_col_main_fl .boxRNav2 li.current a{background-color:#70CCE2;}
