<div class="right_right y">
	<!--{if $do == 'index'}-->
    <!--{if $medal}-->
        <div class="rightlm">
            <span class="font_4" style="margin-left:15px;"><!--{$visitname}-->的徽章</span>
            <span class="rlm3"><!--{if $space['self']}--><a href='home.php?mod=medal&id=#maomedal'  class="leftlm_a"><!--{else}--><a href='home.php?mod=space&do=common&op=medalmore&uid=<!--{$uid}-->'  class="leftlm_a"><!--{/if}-->更多</a></span>
        </div>
        <div class="huizhang" style="padding-top:10px;">
            
            <ul>
                <!--{loop $medal $value}-->
                <li style="width:50px; text-align:center">
                <img src="static/image/common/<!--{$value[image]}-->" width="25" height="45">
                <p class="font_2"><!--{$value[name]}--></p>
                </li>
                <!--{/loop}-->
            </ul>
            
        </div>
        <div class="clear"></div> 
	<!--{/if}-->
	<div class="rightlm">
		<span class="font_4" style="margin-left:15px;"><!--{$visitname}-->参与的竞猜</span>
	</div>
	<div class="center top10">
		<p><img src="{STATICURL}space/10/images/jingcai.jpg" width="135" height="84"></p>
		<p class="font_2"><a href='home.php?mod=space&uid=1888972'>美巡赛竞猜</a></p>
	</div>
	<!--{/if}-->
	<div class="rightlm">
		<span class="font_4" style="margin-left:15px;"><!--{$visitname}-->的标签</span>
		<span class="rlm2"  style="margin-left:78px;"><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=tag&id=#maoweibo' class="leftlm_a"><!--{else}--><a href='home.php?mod=space&do=common&op=tag&uid=<!--{$uid}-->&id=#maocommon' class="leftlm_a"><!--{/if}-->更多</a></span>
	</div>
	<div class="biaoqian">
		<!--{if $tags}-->
		<!--{loop $tags $value}-->
		<span><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=tag&tag=<!--{$value[tag_name]}-->&id=#maoweibo'  class="leftlm_a3"><!--{else}--><a href='home.php?mod=space&do=common&op=tag&uid=<!--{$uid}-->&tag=<!--{$value[tag_name]}-->&id=#maocommon'  class="leftlm_a3"><!--{/if}--><!--{$value[tag_name]}--></a></span>
		<!--{/loop}-->
		<!--{else}-->
		<span style='height:50px; line-height:50px; margin-left:35px'>暂无标签</span>
		<!--{/if}-->
	</div>
	<div class="clear"></div>
	<div class="rightlm">
		<span class="font_4" style="margin-left:15px;"><!--{$visitname}-->的群组</span>
		<span class="rlm2" style="margin-left:78px;"><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=qun&id=#maoweibo' class="leftlm_a"><!--{else}--><a href='home.php?mod=space&do=common&op=qun&uid=<!--{$uid}-->&id=#maocommon' class="leftlm_a"><!--{/if}-->更多</a></span>
	</div>
	<div class="rlmcon">
		<!--{if $grouplist}-->
		<!--{loop $grouplist $v}-->
		<div class="qunzu">
			<div class="qunztu z">
				<p class="center"><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=qun&qid=<!--{$v[qid]}-->'><!--{else}--><a href='home.php?mod=space&do=common&op=qun&qid=<!--{$v[qid]}-->&uid=<!--{$uid}-->'><!--{/if}--><img src="weibo/<!--{$v[icon]}-->" width="60" height="60"></a></p>
				
			</div>
			<div class="qunzujs y">
				<p><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=qun&qid=<!--{$v[qid]}-->&id=#maoweibo' class="leftlm_a3"><!--{else}--><a href='home.php?mod=space&do=common&op=qun&qid=<!--{$v[qid]}-->&uid=<!--{$uid}-->&id=#maocommon'  class="leftlm_a3"><!--{/if}--><!--{$v[name]}--></a></p>
				<p class="font_2"><!--{$v[member_num]}-->人</p>
			</div>
		</div>
		<div class="clear"></div>
		<!--{/loop}-->
		<!--{else}-->
		<span style='height:50px; line-height:50px; margin-left:45px'>未创建或参加任何群组</span>
		<!--{/if}-->



           <!--angf doit 推荐的群组-->
              
            <!--end-->


	</div>

  



	<div class="clear"></div>
	<div class="rightlm">
		<span class="font_4" style="margin-left:15px;"><!--{$visitname}-->参加的活动</span>
		<span class="rlm2" style="margin-left:51px;"><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=event&id=#maoweibo' class="leftlm_a"><!--{else}--><a href='home.php?mod=space&do=common&op=event&uid=<!--{$uid}-->&id=#maocommon' class="leftlm_a"><!--{/if}-->更多</a></span>
	</div>
	<div class="rlmcon">
		
		<div id="circular-hd" class="clearfix">
            <!--{if $event}-->
		    <ul>
            <!--{loop $event $value}-->
                    <li>
                            <!--{if $space['self']}-->
                            <a href='home.php?mod=spacecp&ac=weibo&op=event&eid=<!--{$value[id]}-->&id=#maoweibo'>
                            <!--{else}-->
                            <a href='home.php?mod=space&do=common&op=event&eid=<!--{$value[id]}-->&uid=<!--{$uid}-->&id=#maocommon'>
                            <!--{/if}-->
                            <img  src="weibo/<!--{$value[image]}-->" width="62" height="57" border="0" >
                            <span class="cir-bg"></span>
                            </a>
                        
                           <p style="width:62px; text-align:center" class="font_2"><!--{$value[title]}--></p>
                     </li>
                     <!--{/loop}-->
            </ul>
                    <!--{else}-->
		           <span style='height:50px; line-height:50px; margin-left:45px'>未参加任何活动</span>
		           <!--{/if}-->
		</div>
		
		
	</div>
	<div class="clear"></div>
	<div class="rightlm">
		<span class="font_4" style="margin-left:15px;">热门话题</span>
		<span class="rlm2" style="margin-left:51px;"><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=topic&id=#maoweibo' class="leftlm_a"><!--{else}--><a href='home.php?mod=space&do=common&op=topic&uid=<!--{$uid}-->&id=#maocommon' class="leftlm_a"><!--{/if}-->更多</a></span>
	</div>
	<div class="rlmcon pabottom10 patop10">
		<div style="border:1px solid #E8E8E8; padding:5px; background-color:#EFEFEF; width:180px; margin:0 auto;">
			<div class="z" style="padding:5px; word-break:break-all; white-space:nowrap;">
            
             <!--{eval  $topictag = gettopictag();}-->
             	<!--{loop $topictag $key $val}-->
                <!--{eval $TagNo++;}-->
                {$TagNo}. <a href="/home.php?mod=space&do=common&op=topic&tcode={$val[name]}&uid=<!--{$val[uid]}-->&id=#maocommon" class="leftlm_a3">{$val[name]}</a>
		 <br/>
			<!--{/loop}-->
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
<div class="rightlm">
		<span class="font_4" style="margin-left:15px;"><!--{$visitname}-->关注的品牌俱乐部</span>
		<span class="rlm2" style="margin-left:10px;"><!--{if $space['self']}--><a href='/club.php' class="leftlm_a3"><!--{else}--><a href='home.php?mod=space&do=common&op=follow&uid=<!--{$uid}-->&id=#maocommon' class="leftlm_a3"><!--{/if}-->更多</a></span>
	</div>
	<div class="rlmcon">

		<div id="circular-gz" class="clearfix" style="background:#ffffff; border:#EEEEEE
 solid 1px;">
         <!--{if $club}-->
		<ul>
           <table border="0" cellpadding="0" cellspacing="0" style='width:195px;height:120px;'>
               <!--{loop $club $k $v}-->
   <tr><td height="65" style="padding: 5px;"><a href="home.php?mod=space&uid=<!--{$v[uid]}-->">
                      <img src="uc_server/avatar.php?uid=<!--{$v[uid]}-->&size=middle" width="62" height="57" alt="&lt;!--{$v[bio]}--&gt;" style="padding:2px;">                       
                      </a></td>
                      <td style="text-align:center;padding: 5px;"><a href="home.php?mod=space&uid=<!--{$v[uid]}-->"><font style="color:#3e76a7; font-size:14px; font-weight:700;"><!--{$v[nickname]}--></font></a></td>
   </tr>
<tr><td colspan="2" style=" padding:3px; text-align:center;"><!--{if $v[zdblog]}-->
                      <p style='width:180px;background:#F6F6F6; border:#D4D4D4 solid 1px; text-align:left;padding:3px;'><a href="home.php?mod=space&uid=<!--{$v[uid]}-->&do=blog&id=<!--{$v[blogid]}-->"><!--{eval echo cutstr($v[zdblog],60,'...');}--></a></p>
                      <!--{/if}--></td>
  </tr>
             <!--{/loop}-->
   </table>
         </ul>
         <!--{else}-->
		 <p style='height:50px; line-height:50px; margin-left:45px'>还未关注其他人</p>
		 <!--{/if}-->
		</div>
      <div class="clear"></div>
	</div>

	<div class="rightlm">
		<span class="font_4" style="margin-left:15px;"><!--{$visitname}-->的关注</span>
		<span class="rlm2" style="margin-left:78px;"><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=follow&id=#maoweibo' class="leftlm_a3"><!--{else}--><a href='home.php?mod=space&do=common&op=follow&uid=<!--{$uid}-->&id=#maocommon' class="leftlm_a3"><!--{/if}-->更多</a></span>
	</div>
	<div class="rlmcon">

		<div id="circular-gz" class="clearfix">
         <!--{if $buddys}-->
		<ul>
               <!--{loop $buddys $k $v}-->
               <li style='width:75px; height:90px'>
                      <a href="home.php?mod=space&uid=<!--{$v[uid]}-->">
                      <img src="uc_server/avatar.php?uid=<!--{$v[uid]}-->&size=middle" width="62" height="57">
                      <span class="cir-bg"></span>
                      </a>
                  
                      <p style="margin-top:5px; width:62px; text-align:center;" class="font_2"><!--{$v[nickname]}--></p>
              </li>
             <!--{/loop}-->
         </ul>
         <!--{else}-->
		 <p style='height:50px; line-height:50px; margin-left:45px'>还未关注其他人</p>
		 <!--{/if}-->
		</div>
      <div class="clear"></div>
	</div>
    
    
	
    
<div class="rightlm">
		<span class="font_4" style="margin-left:15px;"><!--{$visitname}-->的粉丝</span>
		<span class="rlm2" style="margin-left:78px;"><!--{if $space['self']}--><a href='home.php?mod=spacecp&ac=weibo&op=fans&id=#maoweibo' class="leftlm_a3"><!--{else}--><a href='home.php?mod=space&do=common&op=fans&uid=<!--{$uid}-->&id=#maocommon' class="leftlm_a3"><!--{/if}-->更多</a></span>
	</div>
	<div class="rlmcon">
          <div id="circular-fans" class="clearfix">
         <!--{if $fans}-->
			<ul>
               <!--{loop $fans $v}-->
               <li style='width:75px; height:90px'>
                     <a href="home.php?mod=space&uid=<!--{$v[uid]}-->"><img src="uc_server/avatar.php?uid=<!--{$v[uid]}-->&size=middle" width="62" height="57" boder="0"> <span class="cir-bg"></span> </a>
                      <p style="margin-top:5px; width:62px; text-align:center;" class="font_2"><!--{$v[nickname]}--></p>
              </li>
             <!--{/loop}-->
         </ul>
         <!--{else}-->
		 <p style='height:50px; line-height:50px; margin-left:45px'>没有粉丝</p>
		 <!--{/if}-->
		</div>
		<div class="clear"></div>
	</div>
</div>