<!--{subtemplate home/10_header}-->
<div class="wad">
	<!--{subtemplate home/10_left}-->
	<div class="righter y">
		<div class="gglb"><span>品味高球人生，分享高球乐趣，您有什么球坛乐事，与大家分享一下吧！</span></div>
		<div class="righter">
			<div class="right_left z">
				<div class="ggbg">&nbsp;</div>
				<!--{subtemplate home/10_center}-->
				<!-- 滑动按钮 -->
				<div class="hd" id='hd' style='height:900px'>
					<a name="qmaoweibo"><div class="erbg"><p class="erbiaoti"><!--{$visitname}-->的微博</p></div></a>
					<div class="ercontent">
					  <!-----开始-- -->
						<IFRAME id="kjian" name="kjian" frameBorder=0 scrolling=no src="weibo" width="100%" height="800" onload="Javascript:SetWinHeight(this)" ></iframe>
					  <!------结束---- -->
					</div>
				</div>
			</div>
			<!--{subtemplate home/10_right}-->
		</div>
	</div>
</div>
<!--{subtemplate home/10_footer}-->