<!--{subtemplate home/20_header}-->
<div id="wtcontent">
	<div class="z z1">
		<!--{subtemplate home/20_left}-->
	</div>
	<div class="z z2">
		<!--{subtemplate home/common_center}-->

		<div class="cdt_lm">
			<span><h1>动态</h1></span>
		</div>
		<div class="cdt_2">
			<!--<span>&nbsp;&nbsp;<img src="{STATICURL}space/20/images/new.gif"></span>
			<span>您有一条新的微博消息，请注意查收 </span>-->
		</div>
		<div class="cbg2">
			  <div class="cbg2_2_lm">
			<!-----------动态开始-------------->
				<!--{subtemplate home/space_comm_feed}-->
			<!-----------动态结束------------->
			  </div>
		</div>
		<br>
	</div>
	<div class="y y3">
		<!--{subtemplate home/20_right}-->
	</div>
	<div class="clear"></div>
</div>
<!--{subtemplate home/20_foot}-->
