<!--{subtemplate home/21_header}-->
<div id="wtcontent">
    <!--{subtemplate home/21_left}-->
    
    
	<div class="z z2"> 
	 <!--{subtemplate home/common_center}-->
     	<div class="cintro">
        <a name="maoweibo"><div class="cdt_lm">
		<span><h1>
        <!--{if $_GET[op]=='topic'}-->
        热门话题
        <!--{elseif $_GET[op]=='weibo'}-->
        热门微博
        <!--{else}-->
        热门标签
        <!--{/if}-->
        </h1></span>
		</div>
        </a>
		<div>
		 <iframe src='<!--{$url}-->' width='100%' height='100%' scrolling='no' frameborder='0' onload="Javascript:SetWinHeight(this)" ></iframe>

		</div> 
        </div>
		 <br>
	</div>
	<!--右侧开始-->
    <!--{subtemplate home/21_right}-->
	<div class="clear"></div>
</div>

<br>
<!--{subtemplate home/21_foot}-->