<div><img height="8" width="482" src="static/space/21/images/chx.jpg" /></div><br />
<div class="fenx">
		  <div class="z mingcheng"><span><h1>$qiyename</h1></span></div>
			<div class="y">
			<span><a id="domainurl" href="$space[domainurl]" onclick="setCopy('http://'+window.location.host+'/home.php?mod=space&uid=<!--{$uid}-->', '{lang copy_space_address}');return false;"><img src="{STATICURL}space/25/images/ca2.jpg" width="101" height="34" border="0"></a></span>
			<span><a id="share_space" href="home.php?mod=spacecp&ac=share&type=space&id=$space[uid]" onclick="showWindow(this.id, this.href, 'get', 0);"><img src="{STATICURL}space/25/images/ca3.jpg" width="101" height="33" border="0"></a></span>
			</div>
</div>
<div><img src="{STATICURL}space/25/images/chx.jpg" width="482" height="8" /></div>
		<br />
<div class="cintro">
		  <div class="cintro_1">
          <!--{if $listpath}-->
                <img src="$listpath" width="95" height="95" />
                <!--{else}-->
                <img src="data/attachment/profile/$field3" width="95" height="95" />
                <!--{/if}-->
          </div> 
		  <div class="cintro_2">$info</div>
		  <div class="clear"></div>
</div>
<br />