 <!--{subtemplate home/26_header}-->
<!-- <style type="text/css">
.ml img { display:block; margin:0 auto; border:1px solid #CCCCCC; padding:2px;}
</style> -->
	<div id="wtcontent">
	<div class="z z1">
    <!--{subtemplate home/26_left}-->
    </div>
    <div class="z z2">
		<!--{subtemplate home/26_center}-->
        <div class="cintro">
            <div class="righter">
                <div class="cincontent">	
                   <a name="maoxiangce"> <div class="cdt_lm">
                     <span><h1><!--{$visitname}-->的相册</h1></span>
                    </div>
                    </a>
                    <div style="background-color:#FFF;">

					<!--{subtemplate home/space_comm_albumlist}-->		

					</div>
				</div>
			</div>				
		</div>
	<br />
	</div>
    <!--右侧开始-->
    <div class="y y3">
    <!--{subtemplate home/26_right}-->
    </div>
	<div class="clear"></div>
	</div>
	<br />
	<!--{subtemplate home/26_foot}-->