		<div><img src="{STATICURL}space/20/images/chx.jpg" width="482" height="8"></div>
		<br><div class="fenx">
	<div class="z mingcheng">
	<span><h1><!--{if $userinfo[realname]}--><!--{$userinfo[realname]}--><!--{else}--><!--{$userinfo[username]}--><!--{/if}--></h1></span>
	</div>
	<div class="y">
	<span><a id="domainurl" href="$space[domainurl]" onclick="setCopy('http://'+window.location.host+'/home.php?mod=space&uid=<!--{$uid}-->', '{lang copy_space_address}');return false;"><img src="{STATICURL}space/24/images/ca2.jpg" width="101" height="34" border="0"></a></span>
	<span><a id="share_space" href="home.php?mod=spacecp&ac=share&type=space&id=$space[uid]" onclick="showWindow(this.id, this.href, 'get', 0);"><img src="{STATICURL}space/24/images/ca3.jpg" width="101" height="33" border="0"></a></span>
	</div>
</div>
<div><img src="{STATICURL}space/24/images/chx.jpg" width="482" height="8" /></div>
<br />
<div class="cintro">

<!--{if $space[uid]==3802310}-->
<!--{if $zdsblogsubject}-->
<p style="text-align:center;font-size: 14px !important;font-weight: 700;padding-top:5px;"><a href="http://www.bwvip.com/seen.php"><!--{eval echo $zdsblogsubject;}--></a></p>
  <!--{/if}-->
<!--{if $zdbloginfo['pic']}-->
<div style=" float: left; height: 93px; margin-left: 10px; margin-top: 10px;  width: 95px;">
   <a href="http://www.bwvip.com/seen.php"><img src="/data/attachment/album/<!--{$zdbloginfo['pic']}-->"   style=" background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; max-height: 100px;  max-width: 100px; padding: 2px;"/></a>
</div> 
  <!--{/if}-->
<div <!--{if $zdbloginfo['pic']}-->class="cintro_2" style=" height:135px;"<!--{else}-->style="padding:10px;"<!--{/if}-->>

<a href="http://www.bwvip.com/seen.php"><!--{eval echo cutstr($zdblogs,380,'...');}--></a></div>
<div class="clear"></div>

<!--{else}-->

<!--{if $zdsblogsubject}-->
<p style="text-align:center;font-size: 14px !important;font-weight: 700;padding-top:5px;"><a href="home.php?mod=space&uid=$space[uid]&do=blog&id=<!--{$zdbloginfo['blogid']}-->"><!--{eval echo $zdsblogsubject;}--></a></p>
  <!--{/if}-->
<!--{if $zdbloginfo['pic']}-->
<div style=" float: left; height: 93px; margin-left: 10px; margin-top: 10px;  width: 95px;">
   <a href="home.php?mod=space&uid=$space[uid]&do=blog&id=<!--{$zdbloginfo['blogid']}-->"><img src="/data/attachment/album/<!--{$zdbloginfo['pic']}-->"   style=" background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; max-height: 100px;  max-width: 100px; padding: 2px;"/></a>
</div> 
  <!--{/if}-->
<div <!--{if $zdbloginfo['pic']}-->class="cintro_2" style=" height:135px;"<!--{else}-->style="padding:10px;"<!--{/if}-->>

<a href="home.php?mod=space&uid=$space[uid]&do=blog&id=<!--{$zdbloginfo['blogid']}-->"><!--{eval echo cutstr($zdblogs,380,'...');}--></a></div>
<div class="clear"></div>
  <!--{/if}-->

</div>
<br />