<!--{template home/space_header_comm}-->
<div id="wtcontent">
	<!-- 左侧 -->
	<!--{template home/spacecp_00_left}-->
	<!-- 右侧 -->
	<div class="rightw">
		 <a name="#minpain"><div class="rightlm">
		  <span style="color:#fff; font-family:'方正准圆简体'; font-size:14px;">名片管理</span></h1></div></a>
		<br>
		<div class="rcontent">
		  
    <ul class="tb cl" style='margin-bottom:10px;'>
        <li $opactives[jiaohuan]><a href="home.php?mod=spacecp&ac=mingpianall&op=jiaohuan">交换邀请</a></li>
        <li $opactives[cunchu]><a href="home.php?mod=spacecp&ac=mingpianall&op=cunchu">存储的名片</a></li>
    </ul>
          
          <!--{if $operation == 'jiaohuan'}-->
          <!--{if $mingpian}-->
          <!--{loop $mingpian $value}-->
          <br />
          <div style="margin:0 auto; width:450px; border:1px solid #9A9A9A; padding-top:20px; padding-bottom:10px; background:url({STATICURL}space/person/images/mp_bg.jpg) right top no-repeat;">
          
             <div style="line-height:25px; width:400px; margin:0 auto;">
             
              <div style="float:left; margin-right:20px;" id="circular-tou" class="clearfix"><a href="home.php?mod=space&uid=$value[uid]"><img src="uc_server/avatar.php?uid=$value[uid]&size=middle" width="115" height="106" /><span class="cir-bg"></span></a></div>
              <div style="float:left; line-height:25px; margin-left:30px;">
                <li>$value[company]</li>
                <li><span style="font-size:14px; font-weight:700;">$value[realname]</span> <span style="margin-left:20px;">$value[position]</span></li>
              </div>
            <div style="clear:both;"></div>
            <div>
                <li>电话：$value[mobile]</li>
                <li>邮箱：$value[email]</li>
                <li>QQ:$value[qq]</li>
                <li>社区地址：http://www.bwvip.com/home.php?mod=space&uid=$value[uid]</li>
                <li>公司地址：$value[address]</li>
            </div>
          </div>
          </div>
          <div style="width:452px; margin:0 auto; background-color:#1A4895; height:18px;">&nbsp;</div>
          <div style=" width:400px; height:30px; text-align:right; margin:0 auto; padding-top:5px;"><span><a href="home.php?mod=spacecp&ac=mingpianall&cz=cunhuan&cid=$value[uid]"><img src="{STATICURL}space/person/images/mp_1.jpg" /></a></span>&nbsp;&nbsp;<span><a href="home.php?mod=spacecp&ac=mingpianall&cz=cunchu&cid=$value[uid]"><img src="{STATICURL}space/person/images/mp_2.jpg" /></a></span>&nbsp;&nbsp;&nbsp;<span><a href="home.php?mod=spacecp&ac=mingpianall&cz=del&cid=$value[uid]"><img src="{STATICURL}space/person/images/mp_3.jpg" /></a></span></div>
          
          <!--{/loop}-->
          <!--{/if}-->
          <!--{/if}-->
          
          <!--{if $operation == 'cunchu'}-->
          <!--{if $mingpianall}-->
          <!--{loop $mingpianall $valueall}-->
          <br />
          <div style="margin:0 auto; width:450px; border:1px solid #9A9A9A; padding-top:20px; padding-bottom:10px; background:url({STATICURL}space/person/images/mp_bg.jpg) right top no-repeat;">
          
             <div style="line-height:25px; width:400px; margin:0 auto;">
             
              <div style="float:left; margin-right:20px;" id="circular-tou" class="clearfix"><a href="home.php?mod=space&uid=$valueall[uid]"><img src="uc_server/avatar.php?uid=$valueall[uid]&size=middle" width="115" height="106" /><span class="cir-bg"></span></a></div>
              <div style="float:left; line-height:25px; margin-left:30px;">
                <li>$valueall[company]</li>
                <li><span style="font-size:14px; font-weight:700;">$valueall[realname]</span> <span style="margin-left:20px;">$valueall[position]</span></li>
              </div>
            <div style="clear:both;"></div>
            <div>
                <li>电话：$valueall[mobile]</li>
                <li>邮箱：$valueall[email]</li>
                <li>QQ:$valueall[qq]</li>
                <li>社区地址：http://www.bwvip.com/home.php?mod=space&uid=$valueall[uid]</li>
                <li>公司地址：$valueall[address]</li>
            </div>
          </div>
          </div>
          <div style="width:452px; margin:0 auto; background-color:#1A4895; height:18px;">&nbsp;</div>
          <div style=" width:400px; height:30px; text-align:right; margin:0 auto; padding-top:5px;"><span><a href="home.php?mod=spacecp&ac=mingpianall&cz=del&cid=$valueall[uid]"><img src="{STATICURL}space/person/images/mp_3.jpg" /></a></span></div>
          <!--{/loop}-->
          <!--{/if}-->
          <!--{/if}-->

      </div>
      <div class="clear"></div>		
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<!--{template home/spacecp_foot_comm}-->