
<!--{if $getstat['groupid'] < 20}-->
<!--{template home/spaces_blog_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 20}-->
<!--{template home/auto_blog_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 21}-->
<!--{template home/field_blog_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 23}-->
<!--{template home/jiaoxue_blog_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 24}-->
<!--{template home/starts_blog_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 25}-->
<!--{template home/game_blog_list}-->
<!--{/if}-->