<div class="leftw">
	<div class="xlogo_duan">
		<p><img src="uc_server/avatar.php?uid=<!--{$uid}-->&size=middle" width='100' height='100'></p>
		<p><!--{$userinfo[username]}--></p>	
	</div>
	<div class="gl_xinx"><span>粉丝：<!--{$userinfo[fans_count]}--></span><span> 关注：<!--{$userinfo[follow_count]}--></span><span> 微博：<!--{$userinfo[topic_count]}--></span></div>
	<div class="leftlm" onclick='show("left_1")'><h1>我的首页</h1>
	</div>
	<div id="left_1" class="block">
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=mywb">微博</a></p>
		</div>
              <div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=action">手机预订</a></p>
			</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=space&do=blog&view=me">博客</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=space&do=album">相册</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=vupload&aa=list">视频</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=event">活动</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=qun">群组</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=vote">投票</a></p>
	</div>
	</div>
    <div class="leftlm" onclick='show("left_2")'><h1>会员管理</h1>
		</div>
			<div id="left_2" class="none">
			<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=huiyuan&op=shenqing">审核会员申请</a></p>
			</div>
			<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=huiyuan&op=myhy
 ">我的会员</a></p>
			</div>
			<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=huiyuan&op=chazhao">会员邀请</a></p>
			</div>
			</div>
	<div class="leftlm" onclick='show("left_2")'><h1>我的任务</h1>
	</div>
	<div id="left_2" class="none">
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=task&item=doing">新手任务</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=task&item=new">日常任务</a></p>
	</div>
	</div>
	<div class="leftlm" onclick='show("left_3")'><h1>我的信息</h1>
	</div>
	<div id="left_3" class="none">
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=discuss">评论</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=follow">关注</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=favorite">收藏</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=fans">粉丝</a></p>
	</div>
	</div>
	<div class="leftlm" onclick='show("left_5")'><h1>个人资料设置</h1>
	</div>
	<div id="left_5" class="none">
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=avatar">修改头像</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=profile">个人资料</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=profile&op=verify">认证</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=privacy">隐私筛选</a></p>
		</div>
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=profile&op=password">密码安全</a></p>
		</div>
		<!--<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=score">成绩卡</a></p>
	</div>-->
	</div>
	<div class="leftlm" onclick='show("left_6")'><h1>我的标签</h1>
	</div>
	<div id="left_6" class="none">
		<div class="leftlm_1" onmouseover="this.className='leftlm_2';" onmouseout="this.className='leftlm_1';"><p><a href="home.php?mod=spacecp&ac=weibo&op=settag">设置标签</a></p>
		</div>
	</div>
</div>