<!--{if $getstat['groupid'] < 20}-->
<!--{template home/spaces_share_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 20}-->
<!--{template home/auto_share_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 21}-->
<!--{template home/field_share_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 23}-->
<!--{template home/jiaoxue_share_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 24}-->
<!--{template home/starts_share_list}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 25}-->
<!--{template home/game_share_list}-->
<!--{/if}-->