<!--{template "header"}-->
	<div data-role="content">
    	<!--设置 Begin-->
    	<div id="setting_wp" class="mc">
       		<ul class="lv_4">
                <li onClick="location.href='index.php?mod=member&code=logout'">
               		<div class="col accounts">退出</div>
                    <div class="arrow"></div>
                </li>
                 <li class="nb" onClick="location.href='index.php?mod=more&code=about'">
                	<div class="col about">关于</div>
                    <div class="arrow"></div>
                </li>
            </ul> 	                                    
        </div>
        <!--设置 End-->
    </div>
<!--{template "footer"}-->