<!--{if !empty($topic_list)}-->
	<div class="" id="weibo_list_wp">
	<!--{loop $topic_list $key $topic}-->
	<div class="" id="weibo_itmes_{$topic['tid']}">
		<div class="weibo" data-tid="{$topic['tid']}" <!--{if MEMBER_ID < 1}-->data-login="0"<!--{else}-->data-login="1"<!--{/if}-->" data-uid="{$topic['uid']}" data-huifu="is_huifu">
			<div class="wb_l">
				<div>
					<img class="author" src="{$topic['face']}"/>
				</div>
			</div>
			<div class="wb_r">
				<div class="user_info">
					<span class="fl p_u">{$topic['nickname']}</span>
					<span class="fr p_t"><!--{if $topic['image_list']}--><img src="./images/pic.png"/><!--{/if}--><span>{$topic['dateline']}</span></span>
				</div>
				
				<!--微博正文内容 Begin-->
				<div class="wb_c_wp">
					<!--{if $topic[totid] > 0}-->
						<!--{eval $parent=$parent_list[$topic[totid]];}-->
					<!--{/if}-->
					<div class="wb_c">
						<!--{if $topic[totid] > 0 && $topic[totid] != $topic[roottid]}-->
							<!--{eval $parent=$parent_list[$topic[totid]];}-->
							<!--{if $parent}-->
							回复<a href="">@{$parent['nickname']}</a>:
							<!--{/if}-->
						<!--{/if}-->
						{$topic['content']}
					</div>
					<!--{if $topic['image_list']}-->
					<div class="share">
						<!--{loop $topic['image_list'] $image}-->
							<img class="author" src="{$image['image_small']}" style="width:100px; height:100px;" />
							<br />
						<!--{/loop}-->
					</div>
					<!--{/if}-->
					<div class="from">
						<span class="fl">{$topic['from_string']}</span>
						<span class="fr num">
							<!--{if $topic['forwards'] > 0}-->
								<span class="forward_num">
									<img src="./images/redirect_icon.png" /><span>{$topic['forwards']}</span>
								</span>
							<!--{/if}-->
							 <!--{if $topic['replys'] > 0}-->
								<span class="comment_num">
									<img src="./images/comment_icon.png" /><span>{$topic['replys']}</span>
								</span>
							<!--{/if}-->
						</span>
				   </div>
				</div>
				<!--微博正文内容 End-->
				
			</div>
		</div>
		<div class="wb_line"></div>
		</div>
	<!--{/loop}-->
	</div>
	<!--{if $list_count == Mobile::config('perpage_mblog')}-->
    	<!--{if $this->Module == 'topic'}-->
			<div class="wb_more" onclick='getMoreMBlogList({"tid":{$this->Get[tid]}, "max_tid":{$max_tid}, "next_page":{$next_page}, "code":"{$this->Code}", "list_type":"comment"});return false;' id="btn_more">更多...</div>
        <!--{/if}-->
	<!--{/if}-->
	
	<script language="javascript">
		$(document).ready(function(){
			setMBlogListEvent();
		});
	</script>
<!--{else}-->
	<script language="javascript">
			showTips("没有数据", 0)
	</script>
<!--{/if}-->

