<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
<meta name="MobileOptimized" content="236"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<link href="http://www.bwvip.com/static/wap/t1/style.css" rel="stylesheet" type="text/css" />
<title>大正社区手机版</title> 
<style>
.STYLE1 {color: #FF0000}
.data_list{width:100%;margin:0 auto;}
.data_list td{height:25px; border-bottom: 1px solid #b8b8b8; text-align:center }
.alt {  border-top: 0; background:#fff; color: #797268;  font-weight:800; font-size:14px;border-bottom: 1px solid #b8b8b8; } 
.spec {  border-top: 0; background: #fff; font-weight:800;  font-size:14px;} 
.specalt{border-bottom: 1px solid #b8b8b8; }
</style>
</head>

<body>

<table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tr>
    <td align="center" valign="middle">
    
    
    <table border="0" cellpadding="0" cellspacing="0"  class="data_list" width="100%" align="center">
    <tr>
    <td colspan="11" ><img src="http://www.bwvip.com/nd/event/nd_img_$event_uid.jpg" width="$width"></td>
    </tr> 
    <tr> 
    <td  class="alt" >球洞</td>
    <td  class="alt">1</td>
    <td  class="alt">2</td>
    <td  class="alt">3</td>
    <td  class="alt">4</td>
    <td  class="alt">5</td>
    <td  class="alt">6</td>
    <td  class="alt">7</td>
    <td  class="alt">8</td>
    <td  class="alt">9</td>
    <td  class="alt">OUT</td> 
    </tr>
    <tr>
    <td  class="alt" >标准杆</td>
    <td class="spec">$par[0]</td>
    <td class="spec">$par[1]</td>
    <td class="spec">$par[2]</td>
    <td class="spec">$par[3]</td>
    <td class="spec">$par[4]</td>
    <td class="spec">$par[5]</td>
    <td class="spec">$par[6]</td>
    <td class="spec">$par[7]</td>
    <td class="spec">$par[8]</td>
    <td class="spec">$POUT</td> 
    
    </tr> 
    <!--{loop $fz $n  $v}-->  
    <tr>
    <td class="alt"  >成绩</td>
    <td ><span {if $v['cave_1']!=0}{echo Getcss($v['cave_1'],$par[0])}{/if}>{if $v['cave_1']<=0}&nbsp;{else}{$v['cave_1']}{/if}</span></td>    
    <td ><span {if $v['cave_2']!=0}{echo Getcss($v['cave_2'],$par[1])}{/if}>{if $v['cave_2']<=0}&nbsp;{else}{$v['cave_2']}{/if}</span></td>
    <td ><span {if $v['cave_3']!=0}{echo Getcss($v['cave_3'],$par[2])}{/if}>{if $v['cave_3']<=0}&nbsp;{else}{$v['cave_3']}{/if}</span></td>    
    <td ><span {if $v['cave_4']!=0}{echo Getcss($v['cave_4'],$par[3])}{/if}>{if $v['cave_4']<=0}&nbsp;{else}{$v['cave_4']}{/if}</span></td>
    <td ><span {if $v['cave_5']!=0}{echo Getcss($v['cave_5'],$par[4])}{/if}>{if $v['cave_5']<=0}&nbsp;{else}{$v['cave_5']}{/if}</span></td>    
    <td ><span {if $v['cave_6']!=0}{echo Getcss($v['cave_6'],$par[5])}{/if}>{if $v['cave_6']<=0}&nbsp;{else}{$v['cave_6']}{/if}</span></td>
    <td ><span {if $v['cave_7']!=0}{echo Getcss($v['cave_7'],$par[6])}{/if}>{if $v['cave_7']<=0}&nbsp;{else}{$v['cave_7']}{/if}</span></td>    
    <td ><span {if $v['cave_8']!=0}{echo Getcss($v['cave_8'],$par[7])}{/if}>{if $v['cave_8']<=0}&nbsp;{else}{$v['cave_8']}{/if}</span></td>
    <td ><span {if $v['cave_9']!=0}{echo Getcss($v['cave_9'],$par[8])}{/if}>{if $v['cave_9']<=0}&nbsp;{else}{$v['cave_9']}{/if}</span></td>
    <td >{$v['lout']}</td>
    
    </tr>      
    <tr>
    <td  >距par</td>
    <td  >{echo Getpar($v['cave_1'],$par[0])}</td>
    <td  >{echo Getpar($v['cave_2'],$par[1])}</td>
    <td  >{echo Getpar($v['cave_3'],$par[2])}</td>
    <td  >{echo Getpar($v['cave_4'],$par[3])}</td>
    <td  >{echo Getpar($v['cave_5'],$par[4])}</td>
    <td  >{echo Getpar($v['cave_6'],$par[5])}</td>
    <td  >{echo Getpar($v['cave_7'],$par[6])}</td>
    <td  >{echo Getpar($v['cave_8'],$par[7])}</td>
    <td  >{echo Getpar($v['cave_9'],$par[8])}</td>
    <td> {echo Getpar($v['lout'],$POUT)}</td>  
    
    </tr>                                  
         <!--{/loop}-->
    <tr>
    <td colspan="11" > </td>
    </tr> 
    <tr> 
    <td  class="alt" >球洞</td>
    <td  class="alt">10</td>
    <td  class="alt">11</td>
    <td  class="alt">12</td>
    <td  class="alt">13</td>
    <td  class="alt">14</td>
    <td  class="alt">15</td>
    <td  class="alt">16</td>
    <td  class="alt">17</td>
    <td  class="alt">18</td> 
    <td  class="alt">IN</td>
    </tr>
    <tr>
    <td  class="alt" >标准杆</td>
    <td class="spec">$par[9]</td>
    <td class="spec">$par[10]</td>
    <td class="spec">$par[11]</td>
    <td class="spec">$par[12]</td>
    <td class="spec">$par[13]</td>
    <td class="spec">$par[14]</td>
    <td class="spec">$par[15]</td>
    <td class="spec">$par[16]</td>
    <td class="spec">$par[17]</td> 
    <td class="spec">$PIN</td>
    </tr> 
    
    <!--{loop $fz $n  $f}-->  
    <tr>
    <td class="alt"  >成绩</td> 
    
    <td ><span {if $v['cave_10']!=0}{echo Getcss($v['cave_10'],$par[10])}{/if}>{if $v['cave_10']<=0}&nbsp;{else}{$v['cave_10']}{/if}</span></td>   
    <td ><span {if $v['cave_11']!=0}{echo Getcss($v['cave_11'],$par[11])}{/if}>{if $v['cave_11']<=0}&nbsp;{else}{$v['cave_11']}{/if}</span></td>    
    <td ><span {if $v['cave_12']!=0}{echo Getcss($v['cave_12'],$par[11])}{/if}>{if $v['cave_12']<=0}&nbsp;{else}{$v['cave_12']}{/if}</span></td>
    <td ><span {if $v['cave_13']!=0}{echo Getcss($v['cave_13'],$par[12])}{/if}>{if $v['cave_13']<=0}&nbsp;{else}{$v['cave_13']}{/if}</span></td>    
    <td ><span {if $v['cave_14']!=0}{echo Getcss($v['cave_14'],$par[13])}{/if}>{if $v['cave_14']<=0}&nbsp;{else}{$v['cave_14']}{/if}</span></td>
    <td ><span {if $v['cave_15']!=0}{echo Getcss($v['cave_15'],$par[14])}{/if}>{if $v['cave_15']<=0}&nbsp;{else}{$v['cave_15']}{/if}</span></td>    
    <td ><span {if $v['cave_16']!=0}{echo Getcss($v['cave_16'],$par[15])}{/if}>{if $v['cave_16']<=0}&nbsp;{else}{$v['cave_16']}{/if}</span></td>
    <td ><span {if $v['cave_17']!=0}{echo Getcss($v['cave_17'],$par[16])}{/if}>{if $v['cave_17']<=0}&nbsp;{else}{$v['cave_17']}{/if}</span></td>    
    <td ><span {if $v['cave_18']!=0}{echo Getcss($v['cave_18'],$par[17])}{/if}>{if $v['cave_18']<=0}&nbsp;{else}{$v['cave_18']}{/if}</span></td> 
    <td >{$f['lin']}</td>
    </tr>      
    <tr>
    <td  >距par</td> 
    <td  >{echo Getpar($f['cave_10'],$par[9])}</td>
    <td  >{echo Getpar($f['cave_11'],$par[10])}</td>
    <td  >{echo Getpar($f['cave_12'],$par[11])}</td>
    <td  >{echo Getpar($f['cave_13'],$par[12])}</td>
    <td  >{echo Getpar($f['cave_14'],$par[13])}</td>
    <td  >{echo Getpar($f['cave_15'],$par[14])}</td>
    <td  >{echo Getpar($f['cave_16'],$par[15])}</td>
    <td  >{echo Getpar($f['cave_17'],$par[16])}</td>
    <td  >{echo Getpar($f['cave_18'],$par[17])}</td>
    <td style="text-align:center;">{echo Getpar($f['lin'],$PIN)}</td> 
    </tr>                                  
    <!--{/loop}-->
    
    <tr>
    <td colspan="11" ><img src="/images/nd/grbf.gif" width="332" height="28" /></td>
    </tr>
                 
    </table>
    </td>
    </tr>
</table>

</body>
</html>