<!--{template common/headcomm}--> 
   <div style="display:none;"></div>

<div >
	<div class="nfl" id="main_succeed" style="display: none">
		<div class="f_c altw">
			<div class="alert_right">
				<p id="succeedmessage"></p>
				<p id="succeedlocation" class="alert_btnleft"></p>
				<p class="alert_btnleft"><a id="succeedmessage_href">{lang message_forward}</a></p>
			</div>
		</div>
	</div>
	<div class="mn">

<div class="bm" id="main_message">
<iframe id="kjian" name="kjian" src='weibo/index.php?mod=member&code=step1' width='925' height='615' scrolling='no' frameborder='0' onload="Javascript:SetWinHeight(this)" ></iframe> 
   
</div> 

	</div></div>
</div>
 
<!--{template common/footcomm}-->