{template "topic_header"}

<div class="main t_col_main">
<!--此处三栏-->
<div class="t_col_main_si t_col_main_side">
  <div class="t_col_main_fl">
    <div id="topic_index_left_ajax_list">
      {template "topic_member_left.inc"}
    </div>
  </div>
</div>
<!--此处三栏-->
  <div class="main3Box_m HotW">	
    <div id="topNews_1" class="Hotwarp">
	<div class="qun_cat_listT">
		<h1>
		<span style="float:left">{$tcat_name}</span>
		<span style="float:right"><a href="index.php?mod=qun&code=category"> <<返回全部分类列表 </a></span>

		</h1>
		
		<!--子分类 Begin-->
		<div id="sub_cat_wp">
		<a href="index.php?mod=qun&code=category&cat_id={$parent_id}" <!--{if empty($sub_cat_id)}-->class="qun_on"<!--{/if}-->>全部</a>
		<!--{loop $cur_sub_cat_ary $value}-->
			<a href="index.php?mod=qun&code=category&cat_id={$value['cat_id']}" <!--{if $sub_cat_id==$value['cat_id']}-->class="qun_on"<!--{/if}-->>{$value['cat_name']}</a>
		<!--{/loop}-->
		</div>
		<!--子分类 End-->
		
		<!--排序等相关信息 Begin-->
		<!--{if $count}-->
		<div style="margin-top:10px;">
			<div style="float:left; color:#999;">共{$count}个</div>
			<div style="float:right;" id="sort_wp">
				<span>排序方式：</span>
				<span>
					<a href="index.php?mod=qun&code=category&cat_id={$cat_id}&sort=1" {$active_sort[1]}>成员人数</a> | 
					<a href="index.php?mod=qun&code=category&cat_id={$cat_id}&sort=2" {$active_sort[2]}>微群博数</a> | 
					<a href="index.php?mod=qun&code=category&cat_id={$cat_id}&sort=3" {$active_sort[3]}>创建时间</a>
				</span>
			</div>
			<div style="clear:both"></div>
		</div>	
		<!--{/if}-->	
		<!--排序等相关信息 End-->

	</div>
<style type="text/css">
	a.v_on{ color:#000; font-weight:700;}
</style>
      <div id="listTopicArea">
		
			{template "qun/qun_search_list"}
		
      </div>
</div>

<!--右边栏 Begin-->
{template "qun/qun_right"}
<!--右边栏 End-->
<script language="javascript">
<!--{if $first_cat_id>0}-->
recdqun({$first_cat_id});
<!--{/if}-->
</script>
 
<!--{if $this->Config[ad_enable]}-->
<div align="center" class="T_AD"> {$this->Config[ad][ad_list][qun][footer]} </div>
<!--{/if}-->
{template "topic_footer"}