<!--{subtemplate common/wap_header}-->
 <style type="text/css">
 .ndbm {width:260px; list-style:none;}
 .ndbm ul li { height:30px; list-style-type:none; float:left;}
 </style>

  <div id="centenr">  
  	  
	  <div id="qiuc">
		<div id="con1_s"></div>
			<div id="con1_t2" style="height:auto;">
				  <div class="t_top">
			     <div style="width:120px; float:left"><span>【N洞报分系统】</span>  </div>
					   <div  style="width:100px; float:left"> 【<a href="nd/baofen.php?ac=nlist&onlymark=<!--{echo $onlymark;}-->" target="_blank">成绩列表</a>】</div>
				  </div>
					<div class="nav_u" >  
                
                            <table width="100%" border="0">
  <tr>
    <td>请选择分组</td>
    <td><select name="fzt" onchange="javascript:window.location.href='/nd/baofen.php?ac=ndbaofen&fzt='+this.options[this.selectedIndex].value+'&qc_id=<!--{echo $_GET['qc_id'];}-->'">  
           					 <!--{loop $fz $v}-->                                
						              <option value="{$v['team_number']}" <!--{if $fzt==$v['team_number']}-->selected="selected"<!--{/if}-->>{$v['team_number']}组/{$v['realname']}</option>  
								<!--{/loop}-->  
                            </select>  </td>
    <td><a href="/nd/baofen.php?ac=ndupdate&fzt=<!--{echo $_GET['fzt'];}-->&qc_id=<!--{echo $_GET['qc_id'];}-->">修改该分组</a></td>
  </tr>
</table>
              
				   <form action="/nd/baofen.php" method="POST"> 
						       <DIV class="ndbm">
                               <table border="0" cellpadding="0" cellspacing="0" style="width:260px;">
                               <tr>
                               <td height="25">球洞 </td> 
                             <!--{loop $arr $v}--><td> 
                                   <!--{$v}-->
                               </td>
                                    <!--{/loop}-->
                               </tr>                         
                                  <!--{loop $bmlist  $value}-->
                                  <tr>
                               <td height="30">$value['realname'] </td> 
                              <!--{loop $arr $v}-->
							  <td>                                
                                  <select name="userdk[{$value['uid']}][$v]">  
                                                                    
                                         <option value="0" >0</option>     
										<!--{loop $fraction $z}-->
										  <!--{if $z==$par[$v-1]}--> 
										     <!--{eval $selected= " selected ";}-->
										  <!--{else}-->
										     <!--{eval $selected= "  ";}-->
										  <!--{/if}-->
											  <option value="{$z}" {$selected} >{$z}</option>
										<!--{/loop}-->                                
                                         <option value="-1" >DQ</option>
                                         <option value="-2" >RTD</option>
					                 </select>
                               </td>
                               <!--{/loop}-->
                               </tr>  
                               
                                    <!--{/loop}-->
                            </table> 
					              </DIV> 
					          
                                <table width="250" cellpadding="0" cellspacing="0">
						          <tr>
						            <td height="45" align="center"><span style="text-align:center; padding-top:20px;"><input type="hidden" name='ac' id="ac" value="tjbaofen"><input type="hidden" name='fzt1' id="fzt1" value="{$fzt}"><input type="hidden" name='qc_id' id="qc_id" value="$_GET['qc_id']"><input type="image" src="/static/wap/t1/images/nddl3.jpg" width="109" height="27" />
						            </span></td>
					              </tr>
					            </table> 
						</form> 
                        
					</div>
		     </div>
		 <div id="con1_p"></div>
	  </div>

 </div>
 

  <!--copyright-->
 <div id="copyright" >
     <p style="padding-top:10px;">大正高尔夫©2011&nbsp;&nbsp;&nbsp;&nbsp;京ICP证110339号</p>
     <p> 京公网安备110105008914号</p>
 </div>
     
  </div>
 </div>
</body>
</html>