<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中韩挑战赛</title>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>

<body>
<table width="{$width}" border="0">
	  <tr style="background:#FFF;">
	    <td>
        	<table width="{$width1}" border="0" cellpadding="0" cellspacing="0" style="background:#f4f4f4;margin:0 auto;font-size:18px;">
            	<tr>
                	<td colspan="21" align="center"><table>
                	  <tr>
                	    <td colspan="2"><img src="images/big-guoqi.png" width="85" height="56"/></td>
                	    <td colspan="4" style="text-align:center;font-size:28px;">中国<br />
                	      CHINA</td>
                	    <td colspan="2"><table  style="background:url(images/nav-bg.png) repeat-x;">
                	      <tr >
                	        <td style="font-size:30px;color:#6a6a6a;font-weight:bold;">14 1/2</td>
                	        <td ><img src="images/guoqi.png" width="184" height="80"/></td>
                	        <td  style="font-size:30px;color:#6a6a6a;font-weight:bold;">13 1/2</td>
              	        </tr>
              	      </table></td>
                	    <td colspan="3" style="text-align:left;font-size:28px;">韩国<br />
                	       SOUTH KOREA</td>
                	    <td colspan="10" align="left"><img src="images/big-hanguo.png" width="84" height="57"/></td>
              	    </tr>
              	  </table></td>
                </tr>
              
<!--{loop $nblist $n  $v}--> 
                <!--{if $n%2==0}-->
 <tr style="background:#dadada;height:42px;">
                	<td colspan="1" align="center" cellpadding="0" cellspacing="0">第{$v['team_num']}组</td>
                    <td colspan="9" align="right" cellpadding="0" cellspacing="0"><img src="images/{$qzarray[$v['uid']]}"/>{$v['realname']}</td>
                    <td colspan="1" style="color:#565656;text-align:center" cellpadding="0" cellspacing="0">VS</td>
                    <td colspan="10" style="vertical-align:middle" cellpadding="0" cellspacing="0"></td>
                </tr>
                   <tr style="height:50px;font-size:28px;" align="center">
                	<td align="center" style="color:#767676;">球洞</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>总杆数</td>
                    <td>得分</td> 
                </tr>
                <tr style="height:50px;font-size:28px;" align="center">
                	<td align="center" style="color:#767676;">标准杆</td>
                    <td>$par[0]</td>
                    <td>$par[1]</td>                    
                    <td>$par[2]</td>
                    <td>$par[3]</td>
                    <td>$par[4]</td>
                    <td>$par[5]</td>
                    <td>$par[6]</td>
                    <td>$par[7]</td>
                    <td>$par[8]</td>
                    <td>$par[9]</td>
                    <td>$par[10]</td>
                    <td>$par[11]</td>
                    <td>$par[12]</td>
                    <td>$par[13]</td>
                    <td>$par[14]</td>
                    <td>$par[15]</td>
                    <td>$par[16]</td>
                    <td>$par[17]</td>
                    <td>72</td>
                    <td></td> 
                </tr>
                <!--{/if}-->
                <tr style="height:50px;font-size:28px;" align="center">
                	<td align="center" style="vertical-align:middle"><img src="images/{$qzarray[$v['uid']]}"/>{echo Getuname($dyarray[$v['uid']],1)}</td>
                     <td {if $v['cave_1']!=0}{echo Getcss($v['cave_1'],$par[0])}{/if}>{if $v['cave_1']<=0}&nbsp;{else}{$v['cave_1']}{/if}</td>
    <td {if $v['cave_2']!=0}{echo Getcss($v['cave_2'],$par[1])}{/if}>{if $v['cave_2']<=0}&nbsp;{else}{$v['cave_2']}{/if}</td>
    <td {if $v['cave_3']!=0}{echo Getcss($v['cave_3'],$par[2])}{/if}>{if $v['cave_3']<=0}&nbsp;{else}{$v['cave_3']}{/if}</td>
    <td {if $v['cave_4']!=0}{echo Getcss($v['cave_4'],$par[3])}{/if}>{if $v['cave_4']<=0}&nbsp;{else}{$v['cave_4']}{/if}</td>
    <td {if $v['cave_5']!=0}{echo Getcss($v['cave_5'],$par[4])}{/if}>{if $v['cave_5']<=0}&nbsp;{else}{$v['cave_5']}{/if}</td>
    <td {if $v['cave_6']!=0}{echo Getcss($v['cave_6'],$par[5])}{/if}>{if $v['cave_6']<=0}&nbsp;{else}{$v['cave_6']}{/if}</td>
    <td {if $v['cave_7']!=0}{echo Getcss($v['cave_7'],$par[6])}{/if}>{if $v['cave_7']<=0}&nbsp;{else}{$v['cave_7']}{/if}</td>
    <td {if $v['cave_8']!=0}{echo Getcss($v['cave_8'],$par[7])}{/if}>{if $v['cave_8']<=0}&nbsp;{else}{$v['cave_8']}{/if}</td>
    <td {if $v['cave_9']!=0}{echo Getcss($v['cave_9'],$par[8])}{/if}>{if $v['cave_9']<=0}&nbsp;{else}{$v['cave_9']}{/if}</td> 
    <td {if $v['cave_10']!=0}{echo Getcss($v['cave_10'],$par[9])}{/if}>{if $v['cave_10']<=0}&nbsp;{else}{$v['cave_10']}{/if}</td>
    <td {if $v['cave_11']!=0}{echo Getcss($v['cave_11'],$par[10])}{/if}>{if $v['cave_11']<=0}&nbsp;{else}{$v['cave_11']}{/if}</td>
    <td {if $v['cave_12']!=0}{echo Getcss($v['cave_12'],$par[11])}{/if}>{if $v['cave_12']<=0}&nbsp;{else}{$v['cave_12']}{/if}</td>
    <td {if $v['cave_13']!=0}{echo Getcss($v['cave_13'],$par[12])}{/if}>{if $v['cave_13']<=0}&nbsp;{else}{$v['cave_13']}{/if}</td>
    <td {if $v['cave_14']!=0}{echo Getcss($v['cave_14'],$par[13])}{/if}>{if $v['cave_14']<=0}&nbsp;{else}{$v['cave_14']}{/if}</td>
    <td {if $v['cave_15']!=0}{echo Getcss($v['cave_15'],$par[14])}{/if}>{if $v['cave_15']<=0}&nbsp;{else}{$v['cave_15']}{/if}</td>
    <td {if $v['cave_16']!=0}{echo Getcss($v['cave_16'],$par[15])}{/if}>{if $v['cave_16']<=0}&nbsp;{else}{$v['cave_16']}{/if}</td>
    <td {if $v['cave_17']!=0}{echo Getcss($v['cave_17'],$par[16])}{/if}>{if $v['cave_17']<=0}&nbsp;{else}{$v['cave_17']}{/if}</td>
    <td {if $v['cave_18']!=0}{echo Getcss($v['cave_18'],$par[17])}{/if}>{if $v['cave_18']<=0}&nbsp;{else}{$v['cave_18']}{/if}</td>
    <td >{echo Getstat($v['tlcave'])}</td>
                    <td>1</td> 
                </tr>
           <!--{if $n%2==1}-->

                <tr style="background:#d8d8d8;height:50px;" align="center">
                	<td colspan="1"></td>
                	<td style="color:#f00;">1up</td>
                    <td style="color:#f00;">2up</td>
                    <td style="color:#3a9de2;">3up</td>
                    <td style="color:#f00;">4up</td>
                    <td style="color:#3a9de2;">1up</td>
                    <td style="color:#3a9de2;">2up</td>
                    <td style="color:#3a9de2;">2up</td>
                    <td style="color:#f00;">3up</td>
                    <td style="color:#f00;">4up</td>
                    <td style="color:#3a9de2;">1up</td>
                    <td style="color:#f00;">1up</td>
                    <td style="color:#f00;">2up</td>
                    <td style="color:#3a9de2;">3up</td>
                    <td style="color:#f00;">4up</td>
                    <td style="color:#3a9de2;">4up</td>
                    <td style="color:#f00;">6up</td>
                    <td style="color:#3a9de2;">1up</td>
                    <td style="color:#3a9de2;">3up</td>
                    <td> </td> 
                    <td> </td> 
                </tr> 
    
                <tr height="50px;">
                	<td></td>
                </tr>
<!--{/if}-->
                
<!--{/loop}-->
                
           
                
            </table>
        </td>
  </tr>
	  
</table>
</body>
</html>