{template "topic_header"}
<link href="styles/theme.css" rel="stylesheet" type="text/css" />

<div class="main t_col_main">
<!--此处三栏-->
<div class="t_col_main_si t_col_main_side">
  <div class="t_col_main_fl">
    <div id="topic_index_left_ajax_list">
      {template "topic_member_left.inc"}
    </div>
  </div>
</div>
<!--此处三栏-->
<div class="main_2b">
  <div class="main_t main_t23">
    <span class="t_l">发起活动</span>
    <span class="t_r"><a href="javascript:history.go(-1);">返回</a></span>
  </div>
<div class="themepwarp">

{template 'event_publish'}
	      
</div>
</div>
</div>
{template "topic_footer"}