<!--{template "topic_header"}-->
<script type="text/javascript" src="js/validate.js"></script>
<div class="main_2" style="width:950px;">
<div class="main_t" style="width:920px;"><span>{$act_name}</span></div>
<!--{if MEMBER_ID}-->
<div class="Menubox">
<ul><li class="hover">您当前是在线登录状态</li></ul>
</div>
<!--{/if}-->
<div class="set_warp"><!--{if 'base'==$act}-->
<div class="friends">
<form method="POST" action="index.php?mod=get_password&code=do_send"
	onsubmit="return Validator.Validate(this,3);">
<li>方法一：请输入您注册时填写的邮箱地址（登录Email）/个性URL地址或者帐户昵称</li>
<li><input dataType="LimitB" min="3" max="300"
	msg="请将长度控制在3~50个字符之间" name="to" type="text" class="p1"
	style="width: 320px;" />&nbsp;<input type="submit" class="save"
	value="提交" /></li>
</form>
<li><span>重设密码的邮件会发送到您注册时填写的邮箱中，按其中的介绍操作即可重设密码</span></li>
</div>
<br />
<div class="friends">
<li>方法二：通过网站客服核对你的真实身份，并帮你重设密码</li>
<li><span>你必须事先在个人资料设置中填写了真实姓名或证件号码</span></li>
</div>
<br />
<!--{elseif 'reset'==$act}-->
<div class="set_tag"><span class="fontRed">*</span>为必填项</div>
<form action="index.php?mod=get_password&code=do_reset" method="POST"
	onsubmit="return Validator.Validate(this,3);"><INPUT
	TYPE="hidden" name="username" value="{$username}"> <INPUT
	TYPE="hidden" name="nickname" value="{$nickname}"> <input
	type="hidden" name="uid" value="{$uid}"> <input type="hidden"
	name="id" value="{$id}">
<table border="0" cellspacing="7" cellpadding="0" width="100%">
	<tr>
		<td width="30%" align="right">帐户昵称：</td>
		<td align="left">{$nickname}</td>
		<tr>
			<td width="30%" align="right">新密码：</td>
			<td align="left"><input name=password type="password"
				id="password" maxlength=50 dataType="LimitB" min="5"
				msg="密码过短，请设成5位以上。"></td>
			<tr>
				<td width="30%" align="right">确认新密码：</td>
				<td align="left"><input name=confirm type="password"
					id="confirm" maxlength=50 dataType="Repeat" to="password"
					msg="两次输入的密码不一致" type="password"></td>
			</tr>
			<tr bgcolor="#FFFFFF" class='info_bottom'>
				<td colspan="2" align="center"><input class="save"
					type="submit" value="提交"></td>
			</tr>
</table>
</form>
<br />
<br />
<!--{/if}--></div>
</div>

</div>
<!--{template "topic_footer"}-->