{template "topic_header"}
<div class="main t_col_main">
<!--此处三栏-->
<div class="t_col_main_si t_col_main_side">
  <div class="t_col_main_fl">
    <div id="topic_index_left_ajax_list">
      {template "topic_member_left.inc"}
    </div>
  </div>
</div>
<!--此处三栏-->
<div style="width:800px; float:left">
  <div class="main_t" style="float:left; margin:5px 0 5px 22px;"><span>{$this->Title}</span></div>
  <div class="A_box">
    <div class="A_boxl">
      <div class="Listmain">
        <div class="feedCell" style="padding-top:0;">
          <div>
            <!--{if 'about'==$this->
            Code}-->
            {$this->InfoConfig['about']}
            <!--{elseif 'contact'==$this->
            Code}-->
            {$this->InfoConfig['contact']}
            <!--{else}-->
            {$this->InfoConfig['joins']}
            <!--{/if}-->
            <!--{if 'admin'==MEMBER_ROLE_TYPE}-->
            <div class="tagg4 atgg">
            本行信息仅管理员可见：
            上述内容可在<a href="admin.php?mod=web_info" target=_blank>后台：全局设置：关于我们等</a>中修改
			</div>
            <!--{/if}-->
          </div>
        </div>
      </div>
    </div>
    <div class="A_boxr">
      <ul class="A_boxrl">
        <li><a href="index.php?mod=other&code=about">关于我们</a></li>
        <li><a href="index.php?mod=other&code=contact">联系我们</a></li>
        <li><a href="index.php?mod=other&code=joins">加入我们</a></li>
        <li><a href="index.php?mod=tag&code=意见反馈">意见反馈</a></li>
      </ul>
    </div>
  </div>
</div></div>
{template "topic_footer"}