<!--网站开启三栏后 显示左边  关于我的信息-->
<div class="t_col_main_ln {$t_col_main_lb}">
<script type="text/javascript">
	$(document).ready(function(){
		$(".member_exp").mouseover(function(){$(".member_exp_c").show();});
		$(".member_exp").mouseout(function(){$(".member_exp_c").hide();});
		$("#m_avatar2").mouseover(function(){$(".avatar_tips").show();});
		$("#m_avatar2").mouseout(function(){$(".avatar_tips").hide();});
	});
</script>

<!--{if $my_member || $member}-->
<!--{eval $_mymember = $my_member ? $my_member : $member}-->
	<div class="sideBox" style="margin:0; padding:0;">
		<div class="avatar2" id="m_avatar2">
		<p class="avatar2_i"><a href="index.php?mod={$_mymember[username]}" title="{$_mymember[username]}"><img src="{$_mymember[face_original]}" alt="{$_mymember[nickname]}" onerror="javascript:faceError(this);" /></a></p>
		<!--{if MEMBER_ID == $_mymember['uid']}--><p class="avatar_tips"><a id="avatar_upload" href="index.php?mod=settings&code=face">上传头像</a></p><!--{/if}-->
		</div>
		<div class="avatar2_info">
		<p class="nameBox">
        <a href="index.php?mod={$_mymember[username]}" title="@{$_mymember[nickname]}"><b>{$_mymember[nickname]}</b></a>{$_mymember[validate_html]}
        <!--{if $this->Config[level_radio]}-->
		  <!--{if $this->Config[topic_level_radio]}-->
		  <span class="wb_l_level">
			<a class="ico_level wbL{$_mymember[level]}" title="微博等级：{$_mymember[level]}级"  href="index.php?mod=settings&code=exp" target="_blank">{$_mymember[level]}</a>
		  </span>
		  <!--{/if}-->
		<!--{/if}-->
        </p>
		
		{if $_mymember[credits]}<div class="integral">积分：<a title="点击查看我的积分" href="index.php?mod=settings&code=extcredits">{$_mymember[credits]}</a><!--<b>升降功能暂缺隐藏</b>--></div>{/if}
		
		<p class="signBox" onclick="follower_choose({$_mymember[uid]},'{$_mymember[nickname]}','topic_signature'); return false;">
		<!--{eval $member_signature = cut_str($_mymember[signature],20);}-->
		<!--{if $_mymember[uid] == MEMBER_ID }-->
			<span ectype="user_signature_ajax_left_{$_mymember[uid]}">
				<span  title="个人签名：{$_mymember[signature]}"><!--{if $_mymember[signature]}-->{$member_signature}<!--{else}-->编辑个人签名<!--{/if}--></span>
			</span>
		<!--{else}-->
		<span  title="个人签名：{$_mymember[signature]}">
		<!--{if $_mymember[signature]}-->
			<!--{if 'admin' == MEMBER_ROLE_TYPE}-->
				<a href="javascript:void(0);" onclick="follower_choose({$_mymember[uid]},'{$_mymember[nickname]}','topic_signature');" title="点击修改个人签名">
				<em ectype="user_signature_ajax_{$_mymember[uid]}">{$member_signature}</em>
				</a>
			<!--{/if}-->
		<!--{/if}-->
		</span>
		<!--{/if}-->
		</p>
		<!--#if NEDU#-->
		<!--{if defined('NEDU_MOYO')}-->
			<!--{echo nui('jsg')->hook('topic.member.left.inc.info');}-->
		<!--{/if}-->
		<!--#endif#-->
		<!--{hook/global_user_extra1}-->
		<!--{hook/global_user_extra2}-->
		<!--{hook/global_user_extra3}-->
		</div>
   </div>
	
	<div class="sideBox">
	<div class="user_atten">
		<div class="person_atten_l">
			<p><span class="num"><a href="index.php?mod={$_mymember[username]}&code=follow" title="{$_mymember[nickname]}关注的">{$_mymember[follow_count]}</a></span></p>
			<p><a href="index.php?mod={$_mymember[username]}&code=follow" title="{$_mymember[nickname]}关注的">关注</a> </p>
		</div>
		<div class="person_atten_l">
			<p><span class="num"><a href="index.php?mod={$_mymember[username]}&code=fans" title="关注{$_mymember[nickname]}的">{$_mymember[fans_count]}</a></span></p>
			<p><a href="index.php?mod={$_mymember[username]}&code=fans" title="关注{$_mymember[nickname]}的">粉丝</a> </p>
		</div>
		<div class="person_atten_r">
			<p><span class="num"><a href="index.php?mod={$_mymember[username]}" title="{$_mymember[nickname]}的微博">{$_mymember[topic_count]}</a></span></p>
			<p><a href="index.php?mod={$_mymember[username]}" title="{$_mymember[nickname]}的微博">微博</a> </p>
		</div>
	 </div>
		<!--{hook/global_user_extra4}-->
	</div>
<!--{/if}-->



<!------用户勋章信息------->

<script type="text/javascript">
$(document).ready(function(){
	$(".sina_weibo").mouseover(function(){$(".sina_weibo_c").show();});
	$(".sina_weibo").mouseout(function(){$(".sina_weibo_c").hide();});
	$(".qqwb").mouseover(function(){$(".qqwb_c").show();});
	$(".qqwb").mouseout(function(){$(".qqwb_c").hide();});
	$(".qqim").mouseover(function(){$(".qqim_c").show();});
	$(".qqim").mouseout(function(){$(".qqim_c").hide();});
	$(".tel").mouseover(function(){$(".tel_c").show();});
	$(".tel").mouseout(function(){$(".tel_c").hide();});

	<!--{loop $medal_list $v}-->
		$(".medal_$v[id]").mouseover(function(){$(".medal_c_$v[id]").show();});
		$(".medal_$v[id]").mouseout(function(){$(".medal_c_$v[id]").hide();});
	<!--{/loop}-->
});
</script>

<ul class="Vimg">

<!--{if 'tag'!=$this->Get['mod'] || $_mymember[style_three_tol] == 1}-->
	<!--{if $this->Config[sina_enable] && sina_weibo_init($this->Config)}-->
	<li class="sina_weibo">{eval echo sina_weibo_bind_icon($_mymember[uid]);} &nbsp; 
		<div class="sina_weibo_c">
			<div class="VM_box">
				<div class="VM_top">
					<div class="med_img"><img src="./templates/default/images/medal/M_sina.gif"></div>
					<div class="med_intro">
						<p>新浪微博</p>
						 绑定后，可以使用新浪微博帐号进行登录，在本站发的微博可以同步发到新浪微博<br />
						{eval $sina_return  = sina_weibo_has_bind($member[uid]);}
						<!--{if !$sina_return}-->
						<a href="index.php?mod=account&code=sina">绑定新浪微博</a> |
						<!--{/if}-->
						<a target="_blank" href="index.php?mod=other&code=medal&view=my">查看我的勋章</a>
					</div>
				</div>
			</div>
		</div>		
	</li>
	<!--{/if}-->

	<!--{if $this->Config[qqwb_enable] && qqwb_init($this->Config)}-->
	<li class="qqwb">{eval echo qqwb_bind_icon($_mymember[uid]);} &nbsp; 
		<div class="qqwb_c">
			<div class="VM_box">
				<div class="VM_top">
					<div class="med_img"><img src="./templates/default/images/medal/qqwb.png"></div>
					<div class="med_intro">
						<p>腾讯微博</p>
						 绑定后，可以使用腾讯微博帐号进行登录，在本站发的微博可以同步发到腾讯微博<br />
						{eval $qqwb_return  = qqwb_bind_icon($member[uid]);}
						<!--{if !$qqwb_return}-->
						<a href="index.php?mod=account&code=qqwb">绑定腾讯微博</a> |
						<!--{/if}-->
						<a target="_blank" href="index.php?mod=other&code=medal&view=my">查看我的勋章</a>
					</div>
				</div>
			</div>
		</div>
	</li>
	<!--{/if}-->

	<!--{if $this->Config[imjiqiren_enable] && imjiqiren_init($this->Config)}-->
	<li class="qqim">{eval echo imjiqiren_bind_icon($_mymember[uid]);} &nbsp; 
		<div class="qqim_c">
			<div class="VM_box">
				<div class="VM_top">
					<div class="med_img"><img src="./templates/default/images/medal/M_qq.gif"></div>
					<div class="med_intro">
					<p>QQ机器人</p>
					用自己的QQ发微博、通过QQ签名发微博，如果有人@你、评论你、关注你、给你发私信，你都可以第一时间收到QQ机器人的通知<br />
					{eval $imjiqiren_return  = imjiqiren_has_bind($member[uid]);}
					<!--{if !$imjiqiren_return}-->
					<a href="index.php?mod=tools&code=imjiqiren">绑定QQ机器人</a> |
					<!--{/if}-->
					<a target="_blank" href="index.php?mod=other&code=medal&view=my">查看我的勋章</a>
					</div>
				</div>
			</div>
		</div>
	</li>
	<!--{/if}-->

	<!--{if $this->Config[sms_enable] && sms_init($this->Config)}-->
	<li class="tel">{eval echo sms_bind_icon($_mymember[uid]);} &nbsp; 
		<div class="tel_c">
			<div class="VM_box">
				<div class="VM_top">
					<div class="med_img"><img src="./templates/default/images/medal/Tel.gif"></div>
					<div class="med_intro">
					<p>手机短信</p>
					用自己的手机发微博、通过手机签名发微博，如果有人@你、评论你、关注你、给你发私信，你都可以第一时间收到手机短信的通知<br />
					{eval $sms_return  = sms_has_bind($_mymember[uid]);}
					<!--{if !$sms_return}-->
					<a href="index.php?mod=other&code=sms">绑定手机短信</a> |
					<!--{/if}-->
					<a target="_blank" href="index.php?mod=other&code=medal&view=my">查看我的勋章</a>
					</div>
				</div>
			</div>
		</div>
	</li>
	<!--{/if}-->
<!--{/if}-->

	<!--{if $member[validate] || $medal_list}-->
	<!--{loop $medal_list $val}-->
	<!--{eval $medal_type = unserialize($val[conditions]);}-->
	<li class="medal_$val[id]"><a href="index.php?mod=other&code=medal" target="_blank"><img src="{$val[medal_img]}"/></a> &nbsp; 
		<div class="medal_c medal_c_$val[id]">
			<div class="VM_box">
				<div class="VM_top">
				<div class="med_img"><img src="{$val[medal_img]}"/></div>
					<div class="med_intro">
					<p>{$val[medal_name]}</p>
					{$val[medal_depict]} <br />
					<!--{if MEMBER_ID != $member[uid]}-->(他于：{$val[dateline]} 获得) <br />
					<!--{if $medal_type[type] == 'topic'}-->
					<a href="index.php?mod=topic&code=myhome" target="_blank">我要发微博</a> |	
					<!--{elseif $medal_type[type] == 'reply'}-->
					<a href="index.php?mod=topic&code=new" target="_blank">我要发评论</a> |	
					<!--{elseif $medal_type[type] == 'tag'}-->
					<a href="index.php?mod=tag&code=$medal_type[tagname]" target="_blank">我要发话题</a> |	
					<!--{elseif $medal_type[type] == 'invite'}-->
					<a href="index.php?mod=profile&code=invite" target="_blank">马上去邀请好友</a> |	
					<!--{elseif $medal_type[type] == 'shoudong'}-->
					管理员手动发放  |	
					<!--{/if}-->
					<!--{else}-->
					(我于：{$val[dateline]} 获得) <br />
					<!--{/if}-->
					<a target="_blank" href="index.php?mod=other&code=medal&view=my">查看我的勋章</a>
					</div>
				</div>
			</div>
		</div>
	</li>
	<!--{/loop}-->
	<!--{/if}-->

	<!--{if $this->Config[yy_enable] && yy_init($this->Config)}-->
	<li class="yy">{eval echo yy_bind_icon($_mymember[uid]);} &nbsp;</li>
	<!--{/if}-->

	<!--{if $this->Config[renren_enable] && renren_init($this->Config)}-->
	<li class="renren">{eval echo renren_bind_icon($_mymember[uid]);} &nbsp;</li>
	<!--{/if}-->

	<!--{if $this->Config[kaixin_enable] && kaixin_init($this->Config)}-->
	<li class="kaixin">{eval echo kaixin_bind_icon($_mymember[uid]);} &nbsp;</li>
	<!--{/if}-->

	<!--{if $this->Config[fjau_enable] && fjau_init($this->Config)}-->
	<li class="fjau">{eval echo fjau_bind_icon($_mymember[uid]);} &nbsp;</li>
	<!--{/if}--> 
	
	
</ul>   

	<!--{if MEMBER_ID == $_mymember[uid] }-->
	  <div class="blackBox"></div>
	  <ul class="boxRNav2">
		<!--{eval if(in_array($this->Code,array('myhome','tag','groupview','qun','cms','bbs','recd'))) $current_myhome = 'current'}-->  
		<!--{eval if('myat'== $this->Code) $current_myat = 'current'}--> 
		<!--{eval if('mycomment'== $this->Code) $current_mycomment = 'current'}--> 
		<!--{eval if('myfavorite'== $this->Code) $current_myfavorite = 'current'}-->
		<!--{eval if('company'== $_GET['mod']) $current_company = 'current'}--> 
		<!--{eval if('department'== $_GET['mod']) $current_department = 'current'}-->
		<li class="index {$current_myhome}"> 
		  <a href="index.php?mod=topic&code=myhome" hidefocus="true" title="我的首页">我的首页</a>
		</li>
		<li class="about {$current_myat}"> 
		  <a href="index.php?mod=topic&code=myat" hidefocus="true" title="提到我的">提到我的</a>
		</li>
		<li class="letter {$current_mycomment}"> 
		  <a href="index.php?mod=topic&code=mycomment" hidefocus="true" title="评论我的">评论我的</a>
		</li>
		<li class="myfav {$current_myfavorite}"> 
		  <a href="index.php?mod=topic&code=myfavorite" hidefocus="true" title="我的收藏">我的收藏</a>
		</li>
		<!--{if $this->Config[company_enable]}-->
		<li class="index {$current_company}"> 
		  <a href="index.php?mod=company" hidefocus="true" title="我的{$d_c_name}">我的{$d_c_name}</a>
		</li>
		<!--{if $this->Config[department_enable]}-->
		<li class="letter {$current_department}"> 
		  <a href="index.php?mod=department" hidefocus="true" title="我的{$d_d_name}">我的{$d_d_name}</a>
		</li>
		<!--{/if}-->
		<!--{/if}-->
		<!--#if NEDU#-->
		<!--{if defined('NEDU_MOYO')}-->
			<!--{echo nui('jsg')->hook('topic.member.left.inc.nav');}-->
		<!--{/if}-->
		<!--#endif#-->
	  </ul>
	<!--{/if}-->
	  <div class="blackBox"></div>
		<ul class="boxRNav2">
		<!--{eval if(MEMBER_ID == $_mymember[uid]) $_my = '我'; elseif(1==$_mymember[gender]) $_my = '他';else $_my = '她';}-->
		<!--{eval if('myblog'== $params['code'] && !$type) $current_myblog = 'current'}-->
		<!--{eval if('myblog'== $params['code'] && 'pic' == $type) $current_pic = 'current'}-->
		<!--{eval if('myblog'== $params['code'] && 'video' == $type) $current_video = 'current'}-->
		<!--{eval if('myblog'== $params['code'] && 'music' == $type) $current_music = 'current'}-->
		<!--{eval if('myblog'== $params['code'] && 'attach' == $type) $current_attach = 'current'}-->
		<!--{eval if('myblog'== $params['code'] && 'my_reply' == $type) $current_my_reply = 'current'}-->
		<!--{eval if('myblog'== $params['code'] && 'vote' == $type) $current_vote = 'current'}-->
		<!--{eval if('myblog'== $params['code'] && 'event' == $type) $current_event = 'current'}-->
		<li class="mypub {$current_myblog}"> 
		  <a href="index.php?mod={$_mymember[username]}" hidefocus="true" title="{$_my}的微博">{$_my}的微博</a>
		</li>

		<li class="mycomment {$current_my_reply}">
		  <a href="index.php?mod={$_mymember[username]}&type=my_reply" hidefocus="true" title="{$_my}的评论">{$_my}的评论</a>
		</li>

		<li class="mypic {$current_pic}">
		  <a href="index.php?mod={$_mymember[username]}&type=pic" hidefocus="true" title="{$_my}的图片">{$_my}的图片</a>
		</li>
		
		<li class="myvoid {$current_video}">
		  <a href="index.php?mod={$_mymember[username]}&type=video" hidefocus="true" title="{$_my}的视频">{$_my}的视频</a>
		</li>
		
		<li class="mymusic {$current_music}">
		  <a href="index.php?mod={$_mymember[username]}&type=music" hidefocus="true" title="{$_my}的音乐">{$_my}的音乐</a>
		</li>
		
		<li class="myatt {$current_attach}">
		  <a href="index.php?mod={$_mymember[username]}&type=attach" hidefocus="true" title="{$_my}的附件">{$_my}的附件</a>
		</li>
		
		<!--{if $this->Config['vote_open']}-->
		<li class="myvote {$current_vote}">
		  <a href="index.php?mod={$_mymember[username]}&type=vote" hidefocus="true" title="{$_my}的投票">{$_my}的投票</a>
		</li>
		<!--{/if}-->

		<!--{if $this->Config['event_open']}-->
		<li class="myact {$current_event}">
		   <a href="index.php?mod={$_mymember[username]}&type=event" hidefocus="true" title="{$_my}的活动">{$_my}的活动</a>
		</li>
		<!--{/if}-->
		
		<!--{eval $navigation_config=ConfigHandler::get('navigation')}-->
		<!--{if !empty($navigation_config[pluginmenu])}-->
		 <!--{loop $navigation_config[pluginmenu]  $pmenus}-->
		 <!--{loop $pmenus $pmenu}-->
		  <!--{if $pmenu[type] == 3}-->
		  <!--{if 'topic'==$this->require}-->
		  <li class="mypub current">
		  <!--{else}-->
		  <li class="mypub">
		  <!--{/if}-->
		  <a href="{$pmenu[url]}&require=topic" hidefocus="true" title="{$pmenu[name]}">{$pmenu[name]}</a></li>
		  <!--{/if}-->	
		 <!--{/loop}-->
		 <!--{/loop}-->
		 <!--{/if}-->
	  </ul>
	  <div class="blackBox2"></div>

</div>
