<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
<meta name="MobileOptimized" content="236"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>球会空间</title>
<style type="text/css">
body{margin:0;padding:0;font-size:12pt;color:#000000; line-height:150%; font-family:"微软雅黑","宋体";}
img{margin:0;padding:0;border:none;}
</style>
</head>
<body>
<div><img src="http://www.bwvip.com/images/wap/clubspace/top1.jpg" {$width} /></div>
<div><a href="{$mlh_down_url}"><img src="http://www.bwvip.com/images/wap/clubspace/but1.jpg" {$width} /></a></div>
<div><img src="http://www.bwvip.com/images/wap/clubspace/top2.jpg" {$width} /></div>
<div><a href="{$ns_down_url}"><img src="http://www.bwvip.com/images/wap/clubspace/but2.jpg" {$width} /></a></div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</body>
</html>