<!--{template admin/header}-->
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
		<tr class="header">
			<td>功能介绍</td>
		</tr>
		<tr>
			<td class="altbg1">
			1、基于记事狗微博api为主流论坛开发的“帖子同步发微博”插件。<br>
			2、在论坛系统中安装好该插件后，可以实现发论坛主题、回帖时将内容标题和内容简介同步发到记事狗微博站中，方便微博用户查看bbs中内容。<br>
			3、目前支持Discuz、discuzX论坛系统和PhpWind论坛系统</td>
		</tr>
		<tr class="header">
			<td>插件下载地址</td>
		</tr>
		<tr>
            <td class="altbg1">
			1、帖子同步发微博插件Discuz!版本，请<a href="http://cnrdn.com/AOw4" target="_blank"><font color="green"><b>单击这里</b></font></a>下载。
			<p><font color="red">说明：下载包里包括Discuz论坛4个类型版本的插件，你只要选择一个符合你论坛版本的插件进行安装。</font><br>
			例如：你的论坛是Discuz X2.5，那么你就把文件夹“jishigou_dzx25”里的内容（文件或文件夹）直接复制到论坛的根目录下，同名则覆盖。<br>
			注意：复制的是“jishigou_dzx25”文件夹里的内容（文件或文件夹），而不是直接复制“jishigou_dzx25”这个文件夹到论坛根目录。</p>
			2、帖子同步发微博插件PhpWind版本，请<a href="http://cnrdn.com/AOw4" target="_blank"><font color="green"><b>单击这里</b></font></a>下载。
			<p><font color="red">说明：下载链接里包括phpwind8.7版本论坛2个编码类型的插件，你只要选择一个符合你论坛编码的插件进行下载。</font><br>
			例如：你的论坛是phpwind8.7 GBK的，那么你就把文件夹“pw_jsg_gbk”里的内容（文件或文件夹）直接复制到论坛的根目录下，同名则覆盖。<br>
			注意：复制的是“pw_jsg_gbk”文件夹里的内容（文件或文件夹），而不是直接复制“pw_jsg_gbk”这个文件夹到论坛根目录。</p>
			</td>
		</tr>
	</table>
