<!--{template admin/header}-->

<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2">网站广告相关链接</td></tr>
<tr class="altbg1"><td colspan="2">1、管理站内广告：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income"><font color=red>点此设置</font></A>
</td></tr>
<tr class="altbg1"><td colspan="2">2、申请广告赚钱：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=aijuhe" ><font color=red>推广AiJuhe赚高额佣金</font></A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=google" >Google Adsense</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=vodone" >第一视频</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=baidu" >Baidu广告</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=alimama" >Alimama交易</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=other" >其他广告</A>&nbsp;--&nbsp;
</td></tr>
</table>
<br>


<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>其他各类广告联盟</td></tr>
<tr class="altbg2">
<td width="15%">说明</td>
<td class="smalltxt">以下只列出了部分名气较大或者有一定特殊的网站联盟和广告联盟，站长可根据各自情况申请。
</td></tr>
</table>
<br>


<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>第一视频广告联盟</td></tr>
<tr class="altbg1">
<td width="15%">申请地址 </td>
<td class="smalltxt"><a href='http://bus.vodone.com/bus/exe.htm?516319' target=_blank>http://bus.vodone.com/</a>

</td></tr>

<tr class="altbg2">
<td width="15%">联盟类型介绍 </td>
<td class="smalltxt">
第一视频是全国首个按视频有效展示次数付费的广告联盟；视频广告按照广告播放完成数计算分成收入，人民币8元/1000次。点击广告最低每次点击不低于0.02元，按时长投放广告最低不低于１０元/周。
</td></tr>

</table>
<br>

<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>奇虎网站联盟</td></tr>
<tr class="altbg1">
<td width="15%">申请地址 </td>
<td class="smalltxt"><A HREF="http://union.qihoo.com/" target=_blank>http://union.qihoo.com/</A>

</td></tr>

<tr class="altbg2">
<td width="15%">联盟类型介绍 </td>
<td class="smalltxt">
1、论坛联盟 

论坛联盟内容来自奇虎门户的娱乐、情感、历史、女人、视频、图酷等访问量大、吸引力强的频道，汇集了中文论坛之精华，更新及时、内容海量。广告样式多达70多种，产品价格根据流量情况10-15元不等。
 
 <br>2、新闻联盟 

新闻联盟内容来自奇虎门户的军事、体育、故事会、科技、探索、手机等知识性、可读性较强的频道，可丰富并提高网站的内容质量。


 <br>3、推介产品 

推介其他成员加入奇虎网站联盟，为您带来更多的收益。在网站上添加一个推介按钮，引导用户注册，每一位注册过的用户在联盟获得100元的收益时，我们便会向您支付100元。
 
 <br>4、国情资讯 

内容来自中国网。以新闻为前导，以国情为基础，以融合各地通讯、即时专题、网上服务、媒体搜索等内容为原则，精心整合即时新闻、翔实的背景资料和网上独家的深度报道。

</td></tr>

</table>
<br>


<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>网盟广告联盟</td></tr>
<tr class="altbg1">
<td width="15%">申请地址 </td>
<td class="smalltxt"><A HREF="http://www.lianmeng.com/" target=_blank>http://www.lianmeng.com</A>

</td></tr>

<tr class="altbg2">
<td width="15%">广告联盟介绍 </td>
<td class="smalltxt">
1、什么叫网站主？ 
  网站（域名）所有人，通过申请并播放广告主发布的广告、引导用户至广告主页面、达到预定推广效果而获得收益的网
站，可以是门户、地方、娱乐、下载等各类能承担相关法律责任的公司或个人网站。 
  

<br>2、如何加入网盟天下营销平台？ 
  只需在网盟天下网站上按要求注册成功即可。参考“网站主运作流程”栏目。 
  

<br>3、网站主加入网盟天下是否需要交纳任何费用？ 
  网站主加入网盟天下网络，只有收益，不需缴纳任何费用。我们对网站主的所有服务都是免费的。只是在广告播出后从广告主处获得的佣金，网盟天下有权获得一小部分佣金作为联盟营销的运行费用和收益. 


</td></tr>

</table>





 
 




