<!--{template admin/header}-->




<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2">网站广告相关链接</td></tr>
<tr class="altbg1"><td colspan="2">1、管理站内广告：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income"><font color=red>点此设置</font></A>
</td></tr>
<tr class="altbg1"><td colspan="2">2、申请广告赚钱：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=aijuhe" ><font color=red>推广AiJuhe赚高额佣金</font></A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=google" >Google Adsense</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=vodone" >第一视频</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=baidu" >Baidu广告</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=alimama" >Alimama交易</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=other" >其他广告</A>&nbsp;--&nbsp;
</td></tr>
</table>
<br>


<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>挂第一视频，按展示收费</td></tr>
<tr class="altbg1">
<td width="15%">申请地址 </td>
<td class="smalltxt"><a href='http://bus.vodone.com/bus/exe.htm?516319' target=_blank>http://bus.vodone.com/</a>
</td></tr>
<tr class="altbg2">
<td width="15%">第一视频广告说明</td>
<td class="smalltxt">第一视频是全国首个按视频有效展示次数付费的广告联盟；视频广告按照广告播放完成数计算分成收入，人民币8元/1000次。点击广告最低每次点击不低于0.02元，按时长投放广告最低不低于１０元/周。

</td></tr>
</table>
<br>

<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>申请开通注意事项</td></tr>
<tr class="altbg2">
<td width="15%">1．分成计费方法？ </td>
<td class="smalltxt"> 

视频广告按照广告播放完成数计算分成收入，人民币8元/1000次。点击广告最低每次点击不低于0.02元，按时长投放广告最低不低于１０元/周。
</td></tr>
<tr class="altbg1">
<td width="15%">2．分成计费周期？ </td>
<td class="smalltxt"> 

分成个人和公司两种。汇款给个人是周结（每周一到周日）；汇款到公司是月结（从上月的26日-本月的25日，以出帐日期为准）；节假日顺延。个人网站主如果申请月结，请发送申请邮件到bus@vodone.com.。收到邮件后，我们会在2个工作日内通过站内信通知站长申请成功，凡是没有收到站内信的表明我们没有收到邮件或者是申请不成功。注：请在申请邮件中写明申请月结、网站主用户名、收款人姓名及身份证号。
</td></tr>

<tr class="altbg2">
<td width="15%">3．佣金支付标准？ </td>
<td class="smalltxt"> 

支付佣金的最低支付限额：100元（含）/次，如果网站主当次佣金未达到100元，则自动累计到下次，直至余额累计达到最低支付限额100元为止，每次支付佣金无封顶上限。

4．佣金支付方式？

在网站主为个人的情况下，我们将根据网站主注册时登记的开户行和银行帐号给网站主支付佣金。每次支付后我们会在网站加盟的公告中告知网站主

</td></tr>

<tr class="altbg1">
<td width="15%">4．佣金支付方式？ </td>
<td class="smalltxt"> 

在网站主为个人的情况下，我们将根据网站主注册时登记的开户行和银行帐号给网站主支付佣金。每次支付后我们会在网站加盟的公告中告知网站主

</td></tr>


<tr class="altbg2">
<td width="15%">5．视频播放器相关信息 </td>
<td class="smalltxt"> 

二、播放器问题

1、播放器放置要求是什么？

（1）播放器其中有一个必须放在其申请通过的域名首页，并且在第一屏。 放置在其他页面的播放器也同样必须在第一屏。

（2）放置播放器的页面必须在“联播网”平台进行注册，否则即使放置了播放器也不产生流量计费。

（3）同一个页面只能放置一个播放器，且播放器底部离页面最顶部距离不超过600像素。

（4）播放器在页面中必须是嵌入式。

（5）网站主不得擅自编辑修改播放器。如播放完广告后自动消失、添加关闭按钮等

（6）放置播放器的页面不得用弹窗等违规推广，一经发现，将立即停止其合作，并停止当期结算。

（7）播放器及播放器下拉框必须完全显示，不能被遮挡（包括弹窗遮掩）。

（8）网站主不得在同一页面中放置与联播网形式类似的视频广告。

2、播放器大小是多少？

联播网播放器的尺寸为300*271及255*235两种，新代码为：600*120。。

3、播放器是否可以修改？

绝对不可以对播放器进行修改，您必须使用从系统中取得的完整代码，任何形式的改动，都属于违规和作弊行为，一经发现，据情节严重程度采取不同的处罚方式：扣除佣金、冻结帐号或取消其联播网成员资格，同时保留进一步追究法律责任的权利。

4、是否允许调用？

支持JS调用，但不准许IF(IFRAME)调用。但同时请您注意，不管哪种调用方法，所有把播放器放在没有实质性内容的内面都是违规行为。

5、600像素内什么意思？如何测量？（新代码无此项要求）

指播放器最底部距离页面的顶部的距离不超过600像素。像素可以通过多种方式来衡量（如腾讯自带的页面截图功能；phtoshop等）。我们现在是以大多数用户使用的电脑分辨率1024*768作为一个标准进行稽查的。

6、首页一定要放广告吗？

您申请域名的首页是一定要放的，否则将视为违规。同时，所有放置播放器的页面都要求放置在第一屏600像素内的位置。（新代码无此项要求）

7、联播网的视频广告对用户的播放器有要求吗？

我们的播放器FLASH是8.0版本的，与大多数视频网站一样。建议用户使用flash player9.0 以上版本最佳。

</td></tr>


</table>






 
 




