<!--{template admin/header}-->

<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2">网站广告相关链接</td></tr>
<tr class="altbg1"><td colspan="2">1、管理站内广告：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income"><font color=red>点此设置</font></A>
</td></tr>
<tr class="altbg1"><td colspan="2">2、申请广告赚钱：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=aijuhe" ><font color=red>推广AiJuhe赚高额佣金</font></A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=google" >Google Adsense</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=vodone" >第一视频</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=baidu" >Baidu广告</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=alimama" >Alimama交易</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=other" >其他广告</A>&nbsp;--&nbsp;
</td></tr>
</table>
<br>


<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>申请Baidu联盟广告</td></tr>
<tr class="altbg2">
<td width="15%">说明</td>
<td class="smalltxt">百度联盟隶属于全球最大的中文搜索引擎百度，依托百度强大的品牌号召力和成熟的竞价排名模式，经过多年精心运营，已发展成为国内最具实力的联盟体系之一。
百度联盟一直致力于帮助发布商挖掘专业流量的推广价值，帮助推广客户推介最有价值的投放通路。自成立以来，百度联盟已成功运营了搜索服务、主题推广及其他增值业务。加盟百度的合作伙伴累计超过十万家，不少网民美誉度极高的网站及软件也在和百度联盟的合作中获得快速成长，这些合作伙伴的影响力几乎覆盖所有中文网民。
</td></tr>
</table>
<br>


<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>Baidu网站联盟广告指南</td></tr>
<tr class="altbg1">
<td width="15%">申请地址 </td>
<td class="smalltxt"><A HREF="http://union.baidu.com/" target=_blank>http://union.baidu.com/</A>

</td></tr>

<tr class="altbg2">
<td width="15%">主题推广 </td>
<td class="smalltxt">
将与主题最相关的百度竞价文字链投放到您的网站相应的页面。用户点击推广内容，网站主就可以从百度获得相应的佣金。

</td></tr>

<tr class="altbg1">
<td width="15%">网站搜索 </td>
<td class="smalltxt">
网站主把百度搜索框代码投放到任一网页，就可以向其用户提供网站搜索功能。免费拥有百度搜索服务，零成本的赚钱工具。 
</td></tr>


<tr class="altbg2">
<td width="15%">合作推广 </td>
<td class="smalltxt">
合作推广产品代码投放在网站页面上，网站用户付费订购了产品或服务，网站即可获得百度带来的合作推广分成收入。</td></tr>


<tr class="altbg1">
<td width="15%">软件合作 </td>
<td class="smalltxt">
只要您是软件作者，拥有一款自己的软件，通过与百度超级搜霸捆绑，用户在安装百度超级搜霸后，点击搜霸搜索产生的竞价推广内容，软件作者就获得百度公司的竞价收入分成。 
</td></tr>

</table>






