<!--{template admin/header}-->




<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2">网站广告相关链接</td></tr>
<tr class="altbg1"><td colspan="2">1、管理站内广告：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income"><font color=red>点此设置</font></A>
</td></tr>
<tr class="altbg1"><td colspan="2">2、申请广告赚钱：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=aijuhe" ><font color=red>推广AiJuhe赚高额佣金</font></A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=google" >Google Adsense</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=vodone" >第一视频</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=baidu" >Baidu广告</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=alimama" >Alimama交易</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=other" >其他广告</A>&nbsp;--&nbsp;
</td></tr>
</table>
<br>


<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>推广AiJuhe赚高额佣金</td></tr>
<tr class="altbg1">
<td width="15%">申请地址 </td>
<td class="smalltxt">在aijuhe.net通过你的用户名登录，然后<a href='http://aijuhe.net/programs/agent_code' target=_blank>点击获取我的专用推广代码</a>即可免费、自动加入推广联盟。
</td></tr>
<tr class="altbg2">
<td width="15%">推广联盟说明</td>
<td class="smalltxt">爱聚合专题互动系统是一套革命性的互动社区软件，为了让更多站长尽快从【使用爱聚合建站】中受益，现在官方推出“爱聚合推广联盟”(<a href="http://aijuhe.net/programs/agent_about" target=_blank >查看详情介绍</a>)，任何站长均可免费加入，我们会将多达五层的直接和间接推广收益奖励于你，<a href="http://aijuhe.net/programs/agent_about" title="查看示例" target=_blank>推荐5个人佣金收入即有可能达到<B><font color=red>65850元</font></B></a>，早行动早受益！
</td></tr>
</table>
<br>

<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2"></A>爱聚合推广联盟的优势</td></tr>
<tr class="altbg2">
<td width="15%">实施推广很简单 </td>
<td class="smalltxt"> 1、如果你有网站，您可以把推广链接放到您的网站或者博客上；
<BR>2、如果你会写软文，那你更可在软文中加入宣传链接；
<BR>3、你也可以把简单介绍和推广链接发给QQ好友、发到QQ群，或者设为论坛签名。

<BR><BR>只要访客点击推广链接并在7天内注册为【爱聚合】用户，你就成为了该用户的推荐人，以后该用户在【爱聚合】官方网站的所产生的消费以及通过TA推广产生的消费都将按照一定的比例给您佣金奖励。
</td></tr>

<tr class="altbg1">
<td width="15%">优势汇总 </td>
<td class="smalltxt">
       1.无需预付款。<BR>
       2.业务量没有时间限制。<BR>
       3.全面支持网上支付，不用您亲自打理财务。<BR>
       4.适合在原有网站上拓展“电子商务”业务。<BR>
       5.代理无需进行售后服务，客户支持由我们负责。<BR>
       6.通过你网站的流量，就可以轻松赚钱。<BR>
</td></tr>

</table>






 
 




