<!--{template admin/header}-->

<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
<tr class="header"><td colspan="2">网站广告相关链接</td></tr>
<tr class="altbg1"><td colspan="2">1、管理站内广告：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income"><font color=red>点此设置</font></A>
</td></tr>
<tr class="altbg1"><td colspan="2">2、申请广告赚钱：&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=aijuhe" ><font color=red>推广AiJuhe赚高额佣金</font></A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=google" >Google Adsense</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=vodone" >第一视频</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=baidu" >Baidu广告</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=alimama" >Alimama交易</A>&nbsp;--&nbsp;
<A HREF="admin.php?mod=income&code=other" >其他广告</A>&nbsp;--&nbsp;
</td></tr>
</table>
<br>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header"><td colspan="2"></A>Alimama广告交易平台</td></tr>
<tr class="altbg2">
<td width="15%">说明</td>
<td class="smalltxt">阿里妈妈是一个全新的交易平台，它首次引入“广告是商品”的概念，让广告第一次作为商品呈现在交易市场里，让买家和卖家都能清清楚楚地看到。<BR>
阿里妈妈目前已经合并到淘宝网，并且主推淘宝客。淘宝客是一种按成交付费的广告形式。淘宝客只需将推广代码放到网站、博客、论坛或其他地方，有买家通过此链接完成交易，淘宝客就能拿到一定比例的佣金。
</td></tr>
</table>
<br>


<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header"><td colspan="2"></A>Alimama广告交易平台</td></tr>
<tr class="altbg1">
<td width="15%">申请地址 </td>
<td class="smalltxt">
<font size=5 color=red>大量的站长反馈表明：由于淘宝与百度youa的竞争，悬挂Alimama的广告容易引起Baidu不定期、随机的惩罚，比如网站降权甚至是封站。<BR>强烈建议不要在网站上挂Alimama的广告，特别是网站未被搜索引擎收录之前。</font>

</td></tr>

</table>




 
 




