<!--{template admin/header}-->

<div class="nav3">
  <ul class="cc">
    <li>
      <a href="admin.php?mod=medal">勋章管理</a>
    </li>
    <li class="current">
      <a href="admin.php?mod=medal&code=user">勋章会员</a>
    </li>
	<li>
	  <a href="admin.php?mod=medal&code=verify">勋章审核</a>
	</li>
  </ul>
</div>

<div class="mt10">
<form id="FORM1" name="FORM1" method="post" action="admin.php?mod=medal&code=user">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
    <tr class="header">
      <td class="">
		勋章会员刷选
  	  </td>
    </tr>
    <tr>
      <td>
      勋章名称
      <select id="medal_id" name="medal_id">
      	<option value="">选择全部勋章</option>
      	<!--{loop $all_medal_list $key $val}-->
      	<!--{if $key == $medal_id}-->
      	<option value="{$key}" selected>{$val}</option>
      	<!--{else}-->
      	<option value="{$key}">{$val}</option>
      	<!--{/if}-->
      	<!--{/loop}-->
      </select>
      用户昵称
      <input type="text" id="nickname" name="nickname" value="{$nickname}">
      <input type="submit" name="Submit" value="提交" class="button">
      </td>
    </tr>
  </table>
</form>

<form method="post" ID="FORM2" NAME="FORM2" action="admin.php?mod=medal&code=delmedaluser">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
  <tr class="header">
    <td>用户昵称</td>
    <td>勋章名称</td>
    <td>勋章图标</td>
    <td>获得时间</td>
    <td>发放机制</td>
    <td>操作</td>
  </tr>
  <!--{loop $medal_list $val}-->
  <tr align="center">
  	<td class="altbg2" style="border-bottom:1px dotted #EDEDED">{$val['nickname']}</td>
    <td class="altbg2" style="border-bottom:1px dotted #EDEDED">{$val['name']}</td>
    <td class="altbg2" style="border-bottom:1px dotted #EDEDED"><img src="{$val[medal_img]}"></img></td>
    <td class="altbg2" style="border-bottom:1px dotted #EDEDED"><!--{eval echo my_date_format($val[dateline], 'Y-m-d')}--></td>
    <td class="altbg2" style="border-bottom:1px dotted #EDEDED"><!--{if $val[conditions][type]=='shoudong'}-->手动发放<!--{else}-->自动发放<!--{/if}--></td>
    <!--{if $val[conditions][type]=='shoudong'}-->
    <td class="altbg2" style="border-bottom:1px dotted #EDEDED"><a href="admin.php?mod=medal&code=delmedaluser&uid=$val[uid]&medal_id=$val[medal_id]">摘除</a></td>
    <!--{else}-->
    <td class="altbg2" style="border-bottom:1px dotted #EDEDED">--</td>
    <!--{/if}-->
  </tr>
  <!--{/loop}-->
  <!--{if $page_arr[html]}-->
  <tr align="center">
    <td colspan="6" class="altbg1"> {$page_arr[html]} </td>
  </tr>
  <!--{/if}-->
</table>
</form>
</div>