<!--{template admin/header}-->

<table width="100%" border="0" cellpadding="0" cellspacing="0"
	class="tableborder">
	<tr class="header">
		<td>技巧提示
		<div style="float: left;"><a href="###"
			onclick="collapse_change('tip')">收缩/展开</a></div>
		<div style="float: right; margin-right: 4px; padding-bottom: 9px">
		<a href="###" onclick="collapse_change('tip')"> <img
			id="menuimg_tip"
			src="./templates/default/images/admincp/menu_reduce.gif" border="0" /></a>
		</div>
		</td>
	</tr>
	<tbody id="menu_tip" style="display: ">
		<tr>
			<td>
			<ul>
				<li>一旦选定URL的静态化方式，<U>不能随意做变更</U>，将影响搜索引擎的收录和已收录内容的访问；</li>
				<li>如果空间使用的是Apache服务器，选择好静态化方式，系统可以自动完成.htaccess文件创建和相应设置；</li>
				<li>如果空间使用的是<font color=red>IIS服务器，启用标准URL静态化前需要特殊设置</font>，否则将导致网站无法访问，具体请参考程序根目录下的iis_rewrite中的readme.txt文件</li>
				<li>本页面的设置都保存在/setting/rewrite.php文件中</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<form method="post" name="config[settings]"
	action="admin.php?mod=setting&code=domodify_rewrite"><a
	name="基本设置"></a>

<table cellspacing="1" cellpadding="4" width="100%" align="center"
	class="tableborder">
	<tr class="header">
		<td colspan="2">1、URL静态化设置</td>
	</tr>
	<tr class="altbg1">
		<td width="40%" bgcolor="#F8F8F8"><b>选择URL的Rewrite方式:</b><br>
		<span class="smalltxt">您可以根据自己的服务器情况选择合适的URL方式 </span></td>
		<td bgcolor="#FFFFFF">$mode_select</td>
	</tr>
	<!--		<tr>
			<td width="40%" bgcolor="#F8F8F8" id="rewriteHelp" colspan="2">
			</td>
		</tr>-->
</table>

<table cellspacing="1" cellpadding="4" width="100%" align="center"
	class="tableborder">
	<tr class="header">
		<td>2、URL地址名称自定义技巧提示</td>
	</tr>
	<tr class="altbg1">
		<td>
		<ul>
			<li>如果URl静态化设置中“不启动静态化”，则下面的设置将不能生效；</li>
			<li>URL地址重写保证你的网站是独一无二的，比如可将“微博”的显示地址从/topic/变成/blog/或者/t/等形式；</li>
			<li>【备注】默认情况下，你无需修改下面的设置</li>
		</ul>
		</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0"
	class="tableborder">
	<tr class="header">
		<td colspan="3">3、URL地址名称自定义设置</td>
	</tr>
	<tr align="center">
		<td width="30%"><b>系统模块名称</b></td>
		<td width="20%">默认URL地址名称</td>
		<td>新的URL地址名称(只能由字母、数字及下划线组成)</td>
	</tr>
	<!--{loop $mod_list $cn_name $en_name}-->
	<!--{eval $_tr_cid=(++$_iii % 2) ? 1 : 2;}-->
	<tr align="center" class="altbg{$_tr_cid}">
		<td>$cn_name</td>
		<td>$en_name</td>
		<td><input type="text" size="30" name="mod_alias[$en_name]"
			value="{$mod_alias[$en_name]}"></td>
	</tr>
	<!--{/loop}-->
</table>

<!-- 	
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
	<tr class="header">
		<td colspan="2">4、URL地址自定义静态化地址后辍</td>
	</tr>
	<tr class="altbg1">
		<td width="40%">后辍名称（可以设置为 / .htm .html 等；默认为空）</td>
		<td><input type="text" name="_rewrite_extention" value="{$_rewrite[extention]}" /></td>
	</tr>
</table>
-->

<center><input type="submit" class="button"
	name="settingsubmit" value="提 交"></center>
<br>
</form>

<script language="JavaScript" type="text/javascript">
var rewriteHelp={
"stand":
	"URL地址形式为 http://yourdomain.com/topic/myhome\
	<ul>\
	<li><b>优点:</b><ul><li>即真正的伪静态模式，URL地址简短，有利于搜索引擎收入。</ul>\
	<li><b>缺点:</b><ul><li>通用性不强，需要服务器环境支持。</ul></ul>\
	设置前的准备:<br>\
		<ul>\
		<li>APACHE服务器:\
		<ul><li>在开始设置之前，请首先咨询您的空间服务商，空间是否支持 Rewrite 以及是否支持对站点目录中 .htaccess 的文件解析，否则即便设置好了，也无法使用。\
		</ul>\
		<li>IIS服务器:\
		<ul>\
		<li>首先在 IIS 的 Isapi 上添加个筛选器，筛选器名称为 Rewrite ，可执行文件选择 Jishigou目录下的./iis_rewrite/Rewrite.dll。\
		<li>重新启动 IIS。\
		</ul>\
		</ul>\
	",
"apache_path":
	"URL地址形式为 http://yourdomain.com/index.php/topic/myhome\
	<ul>\
	<li><b>优点:</b><ul><li>绝大多数服务器默认支持，不需要额外的设置，使用方便，通用性较强。\
	<li>URL地址相当简短，搜索引擎将其识别为静态页面，有利于搜索引擎收入。</ul>\
	<li><b>缺点:</b><ul><li>相比标准Rewrite模式地址中会出现“index.php/”字样。</ul>\
	</ul>",
"":
	"URL地址形式为 http://yourdomain.com/??mod=topic&code=myhome\
	<ul>\
	<li><b>优点:</b><ul><li>任何服务器都支持，通用性强。</ul>\
	<li><b>缺点:</b><ul><li>地址较长，搜索引擎将其识别为动态页面，不利于搜索引擎的收入。</ul>\
	</ul>"
}

$('rewriteHelp').innerHTML=rewriteHelp["{$_rewrite[mode]}"];
$('mode').onclick=function (){$('rewriteHelp').innerHTML=rewriteHelp[$('mode').value];};
</script>
