<!--{template "topic_header"}-->
<!--{if $uid > 0}-->
<div style="padding:2px;"><strong>{$title}</strong></div>
<div class="u2" style="padding:5px;">
  <div>	
	<form id="pmform" name="pmform" method="post" action="index.php?mod=pm&amp;code=dosend">
	  <span><p><textarea name="message" id="message" style="width:99%;" rows="3" cols="" /></textarea></p></span>
	  <input type="submit" name="Submit" value="发送" />
	  <input name="to_user" type="hidden" id="to_user" value="{$nickname}" />
	  <input name="uid" type="hidden" id="uid" value="{$uid}" />
	</form>
  </div>
</div>
<!--{/if}-->

<div class="m">
<!--{if $pm_list}-->
	<!--{loop $pm_list $val}--> 
	<div class="u2">
	  <div style="padding:5px;">
		<!--{eval $val['msgnickname'] = wap_iconv($val['msgnickname']);}--> 
		<!--{eval $val['tonickname'] = wap_iconv($val['tonickname']);}--> 
		<a href="index.php?mod={$val['msgfromid']}">{$val['msgnickname']}</a>
		<!--{if $val[plid] < 1}-->
		 群发：
		<!--{else}-->
		 对 <a href="index.php?mod={$val['msgtoid']}">{$val['tonickname']}</a> 说:
		<!--{/if}-->
		<!--{eval $val['message'] = wap_iconv($val['message']);}--> 
        <span style="margin-left:5px;">{$val[message]}</span>
		<!--{eval $val['dateline'] = wap_my_date_format($val['dateline']);}-->
        <span style="color:#999999;"> {$val[dateline]} </span>   
	  </div>
	</div>
	<div class="lineDot"></div>
	<!--{/loop}-->
    <!--{if $page_html}-->
	<!--{eval $page_html = wap_iconv($page_html)}-->
    {$page_html}
    <!--{/if}-->
<!--{else}-->
<div class="t_list_c">这里暂时还没有私信</div>
<!--{/if}-->
</div>
<!--{template "topic_footer"}-->