<!--{template "topic_header"}-->
<div class="m">
<div>
	<!--{if MEMBER_ID}--><!--（<span><a href="index.php?mod=profile&amp;code=invite" target="_blank">邀请好友</a>来关注</span>）--><!--{/if}-->
</div>

<!--{loop $member_list $val}-->
<div style="padding:2px;">
	<div class="t_list_b" >
		 <div class="base_u">
		<span>
			<img src="{$val[face]}" style="width:45px; height:45px;padding:1px;border:1px solid #ccc; background:#fff;"/></a>
			<a href="index.php?mod={$val[username]}">{$val[nickname]}</a> 
        </span>
         {$val[validate_html]} <!--{if $val[gender] == 1}-->(男)<!--{else}-->(女)<!--{/if}-->
		<br />
        <span><a href="index.php?mod={$val[username]}&code=follow">关注{$val[follow_count]}人</a> |</span> 
		  <span><a href="index.php?mod={$val[username]}">微博:{$val[topic_count]}条</a> | 
          <a href="index.php?mod={$val[username]}&code=fans">粉丝:{$val[fans_count]}人</a></span><br />
          <span>
		<!--{if MEMBER_ID!=$val[uid]}-->
			{$val[follow_html]}
		<!--{elseif MEMBER_ID==$val[uid]}-->
			（这是我自己）
		<!--{/if}-->
		</span> | 
        <span><a href="index.php?mod=pm&code=pmsend&amp;nickname={$val[nickname]}">发私信</a></span>

	  </div>
		
	</div>	 

 </div>
 <div class="lineDot"></div>
<!--{/loop}-->

<!--{if $member[fans_count]<7}-->
<div class="t_list_b">
所有关注{$member[username]}的人，都能在其个人首页中第一时间看到其发布的信息<br />
通过发布有价值的信息，或者评论转发他人的微博，将会吸引更多的人关注<!--{if MEMBER_ID > 0}-->，马上进入<a href="index.php?mod=topic&amp;code=myhome">我的首页</a>分享新鲜事吧<!--{/if}-->
</div>
<!--{/if}-->

<!--{if $page_arr[html]}-->
<li>{$page_arr[html]}</li>
<!--{/if}-->

</div>
<!--{template "topic_footer"}-->