
<link href="css/style1.css" rel="stylesheet" type="text/css" />
<div id="wary">
   <div class="he_one">
    <div class="logo fl"><a href="#"><img src="images/logo.jpg" width="129" height="42" /></a></div>
    <div class="re fr"><p>客服热线：<span class="yanse">400 810 9966</span></p>
    <p style="float:right; padding-right:20px;"> <a href="#"></a>  <a href="#"></a> </p></div>
 </div>
 <!--nav-->
 {template "daz_nav"}
 <!--/nav-->
  <div id="centenr">
      <div id="cen1" style="height:auto;">
         <div id="con1_s"></div>
			<div id="con1_t" style="height:auto;">
				   <div id="t_bok"><!--{template "topic_header"}--></div>
					   <div class="nav_u">
							   <ul>																
									 <div class="set_warp">
									 <form id="form1" name="form1" method="post" action="index.php?mod=login&amp;code=dologin">
									 <span>名称：<br /><input name="username" type="text" id="username"/></span>
									 <span>密码：<br /><input name="password"  type="password" id="password " /></span>
									 <span><input type="submit" name="Submit" value="登录" /></span>
									 </form>
									</div>
							  </ul>
					   </div>
			</div>
         <div id="con1_p"></div>
     </div>
 </div>


  <!--copyright-->
 <div id="copyright" >
   <p style="padding-top:10px;">大正高尔夫©2011&nbsp;&nbsp;&nbsp;&nbsp;京ICP证110339号</p>
   <p> 京公网安备110105008914号</p>
 </div>
     
  </div>
</div>

<!--{template "topic_footer"}-->


