<link href="css/style1.css" rel="stylesheet" type="text/css" />
<div id="wary">
   <div class="he_one">
    <div class="logo fl"><a href="#"><img src="images/logo.jpg" width="129" height="42" /></a></div>
    <div class="re fr"><p>客服热线：<span class="yanse">400 810 9966</span></p>
    <p style="float:right; padding-right:20px;"> <a href="#"></a>  <a href="#"></a> </p></div>
 </div>
 <!--nav-->
 {template "daz_nav"}
 <!--/nav-->
  <div id="centenr">
      <div id="cen1" style="height:auto;">
         <div id="con1_s"></div>
			<div id="con1_t" style="height:auto;">
				   <div id="t_bok">{template "topic_header"}</div>
					   <div class="nav_u">
							   <ul>																
									<div style="padding:2px;">
										<span class="">话题榜</span>
									</div>

									<!--最热门话题-->
									<div class="set_warp">
									<div>在发微博的时候，系统会自动将两个#之间的文字作为本条微博的话题，可通过此话题查看相关微博.<a href="index.php?mod=topic&amp;code=addpic&amp;tagvalve=tag">发微博</a><BR />
									</div>

									<!--推荐话题-->  
									<div class="t_list_b">
									<div class="line">1、推荐话题</div>
									<!--{loop $tag_tuijian $tuijian}-->
									<a href="index.php?mod=tag&code={$tuijian[name]}">{$tuijian[name]}</a> | 
									<!--{/loop}-->
									</div>
									<!--推荐话题--> 

									<!--{if $tag_list}-->
									<div class="t_list_b">
									<div class="line">2、最热门话题</div>
									<!--{if $tag_list && is_array($tag_list) && count($tag_list)}-->        
									<!--{eval $tag_list = array_chunk($tag_list,4);}-->
									<!--{loop $tag_list $tags}-->
									<!--{loop $tags $v}-->
									<a href="index.php?mod=tag&code={$v[name]}">{$v[name]}</a> | 
									<!--{/loop}-->
									<!--{/loop}-->
									<!--{/if}-->
									</div>
									<!--最热门话题-->
									<!--{/if}-->
										
									<!--最受关注话题-->  
									<div class="t_list_b">
									<div class="line">3、最受关注话题</div>
									<!--{loop $tag_guanzu $guanzu}-->
									<a href="index.php?mod=tag&code={$guanzu[name]}">{$guanzu[name]}</a> | 
									<!--{/loop}-->
									</div>
									<!--最受关注话题-->  

										
									<!--一周热门话题-->  
									<div class="t_list_b">
									<div class="line">4、一周热门话题</div>
									<!--{loop $tag_r_day7 $tag7}-->
									<a href="index.php?mod=tag&code={$tag7[name]}">{$tag7[name]}</a> | 
									<!--{/loop}-->
									</div>
									<!--一周热门话题-->


									<!--一周关注话题-->
									<div class="t_list_b">
									<div class="line">5、一周关注话题</div>
									<!--{loop $day7_guanzhu $tag7_gz}-->
									<a href="index.php?mod=tag&code={$tag7_gz[name]}">{$tag7_gz[name]}</a> | 
									<!--{/loop}-->
									</div>
									<!--一周关注话题-->
							  </ul>
					   </div>
			</div>
         <div id="con1_p"></div>
     </div>
 </div>


  <!--copyright-->
 <div id="copyright" >
   <p style="padding-top:10px;">大正高尔夫©2011&nbsp;&nbsp;&nbsp;&nbsp;京ICP证110339号</p>
   <p> 京公网安备110105008914号</p>
 </div>
     
  </div>
</div>




{template "topic_footer"}