<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
<meta name="MobileOptimized" content="236"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<title>球会空间</title>
<style type="text/css">
body{margin:0;padding:0;width:320px; background:#ffffff;}
p{margin:0;padding:0;padding-bottom:50px;}
img{max-width:100%; padding:0;margin:0;border:0;}
</style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tr>
<td><img src="http://www.bwvip.com/images/wap/field_space/top.jpg" width="720" /></td>
</tr>
<tr>
<td><img src="http://www.bwvip.com/images/wap/field_space/meilanhu.jpg" width="720" border="0" usemap="#Map" /></td>
</tr>
<tr>
<td><img src="http://www.bwvip.com/images/wap/field_space/nanshan.jpg" width="720" border="0" usemap="#Map2" /></td>
</tr>
</table>
<map name="Map" id="Map">
  <area shape="rect" coords="645,30,682,91" name="map" href="#" />
  <area shape="rect" coords="502,119,666,172" name="download" href="{$mlh_down_url}" />
</map>

<map name="Map2" id="Map2">
  <area shape="rect" coords="648,41,683,102" name="map" href="#" />
  <area shape="rect" coords="502,130,666,181" name="download" href="{$ns_down_url}" />
</map>
</body>
</html>
