<!--{template "header"}-->
    <!--设置 Begin-->
    <div id="setting_wp" class="mc">
        <ul class="lv_4">
            <li>
                <div class="col2">昵称:<input name="nickname" type="text" id="nickname" class="login_txt" autofocus /></div>
            </li>
            <li class="nb">
                <div class="col2">密码:<input name="password" type="password" id="password" class="login_txt" /></div>
            </li>
        </ul>
		<div class="loginbar">
    		<button class="btn_login" onclick="login('nickname', 'password')">登录</button>
    	</div> 	                                    
    </div>

    
    <!--设置 End-->
<!--{template "footer"}-->