<div  class="ptm wp ">
	<div id="foot">
	<div class="foot_1">
	<div class="foot_left">Copyright © 2010 Dazone Golf,All Rights Reserved 大正高尔夫 版权所有<br/> <br/>
	</div>
	<div class="foot_center"><img src="http://www.bwvip.com/crown/images/foot_pic.gif" width="9"  height="178"/></div>
	<div class="foot_right"><a href="http://www.bwvip.com" target="_blank"><img src="http://www.bwvip.com/crown/images/bwvip_logo.jpg" width="181" height="58" border="0" /></a></div>
	</div>
	</div>
	<!--页尾结束-->
	</div>
</div>


<div style="display:none;">
<script language="javascript" src="http://count18.51yes.com/click.aspx?id=181800507&logo=1" charset="gb2312"></script>
</div> 

</body>
</html>