
</div>
<!-- 主体结束 -->
<br>
<div class="wadbody footer">
  <div class="footer_2">
  <span class="z"><a href="/home.php"><img src="{STATICURL}space/comm/images/bottomlogo.jpg" width="175" height="59" border="0"></a></span>
  <span><a href="../about.php">关于大正</a> | <a href="../zhaopin.php">招贤纳士</a> | <a href="../huoban.php">合作伙伴</a> | <a href="../lianxi.php">联系我们</a> | <a href="../shengming.php">免责声明</a> | <a href="../sitemap.php">网站地图</a><br>
  大正网版权归北京大正承平文化传播有限公司 <br>
  京ICP证110339号 京公网安备110108008116号 </span></div>
</div>
<br>

<div style="display:none;">
<script src="http://s85.cnzz.com/stat.php?id=5106508&web_id=5106508" language="JavaScript"></script>
</div>
<iframe style="display:none; width:0; height:0;" src="http://www.zhongsou.com/" ></iframe>
</body>
</html>

