/*******************************************************************
 * [JishiGou] (C)2005 - 2099 Cenwor Inc.
 *
 * This is NOT a freeware, use is subject to license terms
 *
 * @Package JishiGou $
 *
 * @Filename t2.css $
 *
 * @Author http://www.jishigou.net $
 *
 * @Date 2012-04-23 17:49:36 820171438 1775875671 5585 $
 *******************************************************************/


/* CSS Document */
body{ background-color:#5cbeff; background-image:url(../images/quntheme/t2/themebg.jpg);background-position:center 0px;background-repeat:no-repeat;background-attachment:fixed;}
a:link{color:#336699;text-decoration:none;}
a:visited{color:#336699;text-decoration:none;}
a:hover{color:#336699;text-decoration:underline;}
.headerBg { background:#207A00;}
.top_nav2 .home_1{color:#FFD050;}
.top_nav2 .home_1 a{color:#FFD050;}
.headerNav{ color:#516000;}
.headerNav a:link {color:#336699;text-decoration:none;}
.headerNav a:hover {color:#336699;text-decoration:underline;}
.headerNav a:visited {color:#336699;text-decoration:none;}
.main{ background:url(../images/quntheme/t2/rightbg2.png) repeat-y right center;}
.top_nav2 { background:#516000;}
.top_nav2 li .m_r0 a{ color:#fff;}
.person_atten_l{ border-right:#fff 1px solid}
.sideBox .sTitle{ background:url(../images/quntheme/t2/side_bg.gif) no-repeat 0 0 }
.boxRNav2 li,.boxRNav2 li a{background:url(../images/quntheme/t2/sideLb.png) 0 -126px no-repeat; color:#fff;}
.boxRNav2 li.current{height:34px;z-index:2;background:url(../images/quntheme/t2/sideLb.png) 0 -90px no-repeat;}
.boxRNav2 li.current a:hover{ color:#fff;}
.sendMail{ width:100%;background:url(../images/quntheme/t2/sideLb.png) -334px -200px no-repeat; text-indent:21px; padding-top:5px;}
.ts_menu_2{background:url(../images/theme/t5/hotb_1.gif) repeat-x bottom;}
.ts3_mbtn1{border:1px solid #b86b72; border-bottom:none}
.ts3_mbtn2{border:1px solid #b86b72; border-bottom:none;background:#ffaac7;}
.boxRNav2 li.myfav .anoTh{color:#fff;}
.boxRNav2 li.letter .anoTf{color:#fff;}
.boxRNav2 li.mailBox .anoTv{ color:#fff}
.boxRNav2 li.actBox .anoTv{ color:#fff}
.bottomLinks{ background:url(../images/quntheme/t2/foot_bg.png); color:#fff;}
.bottomLinks a:link,.bottomLinks a:visited,.bottomLinks a:hover{color:#fff;}
.nfBox .left a{ color:#336699;}
.sideBox{ color:#fff;}
.sideBox a:link,.sideBox a:visited,.sideBox a:hover{color:#fff;}
.layS2{color:#336699;}
.layS2 a:link,.layS2 a:visited,.layS2 a:hover{color:#fff;}
.rught_tj_box{background:url(../images/quntheme/t2/right_tj_t.gif) no-repeat;}
.rught_tj_box span{ background:#C3E892; border:#8EB757 1px solid; border-top:none;}
.searchTool .btnSearch .lbl{ color:#FFD050;}
.searchTool .selOption a:hover{color:#b72222;}
.num {color:#207A00;}
.alert_follower_menu{ color:#333;}
.alertBox{ color:#333;}
.alertBox a:link,.alertBox a:visited,.alertBox a:hover{color:#207A00;}
.vDateBox{background:#ECF5F9; border:1px solid #B0C9D8;}
.rbt_2{ background:url(../images/quntheme/t2/rbg_r2_c1.gif) no-repeat; width:180px; height:30px;}
.sideBox .rbt_2 a{ color:#fff;}
.boxRNav3 li,.boxRNav3 li a{background:url(../images/quntheme/t2/sideLb.png) 0 -126px no-repeat; color:#fff;}
.boxRNav3 li.current{height:34px;z-index:2;background:url(../images/quntheme/t2/sideLb.png) 0 -90px no-repeat;}
ul.t_c1_box{box-shadow:none;}
ul.t_c2_box{box-shadow:none;}
/*新增侧栏部分*/
.SC{border-top:none;}
.SC h3{border-top:none; color:#fff;}
.rught_tj_box{background:url(../images/quntheme/t2/right_tj_t.gif) no-repeat; color:#666;}
.rught_tj_box span{ background:#ecf5f9;border:#B0C9D8 1px solid; border-top:none;}
.r_replace a:link,.r_replace a:visited,.r_replace a:hover{ color:#fff;}
/*三栏部分*/
.t_col_main{background:url(../images/quntheme/t2/rightbg2.png) repeat-y;}
.SC,.FTL{color:#fff;}
.FTL li{color:#fff;}
.FTL li a:link,.FTL li a:visited,.FTL li a:hover{color:#fff}
.FTL li ul.tipsBox .tips_nn .tips_nn14 a{ color:#336699}
.FTL li ul.tipsBox{ color:#333}
.FTL li ul.tipsBox a:link,.FTL li ul.tipsBox a:visited,.FTL li ul.tipsBox a:hover{ color:#336699}
.SC .btn{background:url(../images/theme/t2/b1_c2.gif) no-repeat;}
/*三栏左边导航*/
.t_col_main_fl .boxRNav2 li,.boxRNav2 li a{ background:url(../images/quntheme/t2/sideLb.png) 0 -126px no-repeat;_background:url(../images/quntheme/t2/sideLb.png) 0 -126px no-repeat;color:#fff;}
.t_col_main_fl .boxRNav2 li.current{ height:34px;z-index:2;background:url(../images/quntheme/t2/sideLb.png) 10px -462px no-repeat;}
.t_col_main_fl .sendMail{ width:100%;background:url(../images/quntheme/t2/sideLb.png) -334px -200px no-repeat; text-indent:21px; padding-top:5px;}
.t_col_main_fl .boxRNav2 li.myfav .anoTh{ color:#fff;}
.t_col_main_fl .boxRNav2 li.letter .anoTf{ color:#fff;}
.t_col_main_fl .boxRNav2 li.mailBox .anoTv{ color:#fff;}
.t_col_main_fl .boxRNav2 li:hover,.t_col_main_fl .boxRNav2 li.hover{background-position:10px -428px;}
.t_col_main_fl .boxRNav2 li.index:hover,.t_col_main_fl .boxRNav2 #x1.hover{background-position:10px -428px;}
.t_col_main_fl .boxRNav2 li.index a{ color:#fff;}
.FTL .thread_add a{color:#fff;}
.SC_taguanzhu_box p.m_m2 a{color:#fff;}
.followList li .fBox_R .ff_1{ color:#fff;}
.sideBox .f14B a{ color:#444}

/*110913模板更换*/
#add_ajax_favorite_tags span{ background:#666}
ul.tipsBox a:link,ul.tipsBox a:visited,ul.tipsBox a:hover{color:#2965B1;}
.SC_taguanzhu_box .media_user_list{ margin:69px 0 0 -4px;*margin:69px 0 0 -4px;}

/*微群风格 2011.10.08 */
.qun_box_m .topic_new_add{ width:590px; height:180px; background:url(../images/quntheme/t2/issueBg2.jpg) no-repeat;left:29%; margin:20px 0; }
.qun_box_m .box_3{ padding-top:25px;}
.qun_box_m .topic_new_add{ height:200px; border-bottom:#b0afa7 1px solid; border-top:#b0afa7 1px solid;}

.sideBox .f14B a{ color:#fff;}
.qun_r_t_11 a{color:#fff; font-size:16px; font-weight:600;}
.qun_r_t_12{color:#fff;}
.qun_r_t_13 a{color:#fff;}
.q_th{ color:#fff;}

.main3Box_m,HotW{ background:none;}
