<!--{subtemplate home/10_header}-->
<div class="wad">
	<!--{subtemplate home/10_left}-->
	<div class="righter y">
		<div class="gglb"><span>品味高球人生，分享高球乐趣，您有什么球坛乐事，与大家分享一下吧！</span></div>
		<div class="righter">
			<div class="right_left z">
				<div class="ggbg">&nbsp;</div>
				<!--{subtemplate home/10_center}-->
				<!-- 滑动按钮 -->
				<div class="hd">
					<div class="erbg"><p class="erbiaoti"><!--{$visitname}-->的动态</p></div>
					<div class="ercontent">
			<!------动态开始--------->
						<!--{subtemplate home/space_comm_feed}-->
			<!-----------结束-------------->
                        <br />
					</div>
				</div>
			</div>
			<!--{subtemplate home/10_right}-->
		</div>
	</div>
</div>
<!--{subtemplate home/10_footer}-->