		<div><img src="{STATICURL}space/20/images/chx.jpg" width="482" height="8"></div>
		<br>
        <div class="fenx">
		    <div class="z mingcheng">
		    <span><h1>$field1</h1></span>
			</div>
		    <div class="y">
			<span><a id="domainurl" href="$space[domainurl]" onclick="setCopy('http://'+window.location.host+'/home.php?mod=space&uid=<!--{$uid}-->', '{lang copy_space_address}');return false;"><img src="{STATICURL}space/20/images/ca2.jpg" width="101" height="34" border="0"></a></span>
			<span><a id="share_space" href="home.php?mod=spacecp&ac=share&type=space&id=$space[uid]" onclick="showWindow(this.id, this.href, 'get', 0);"><img src="{STATICURL}space/20/images/ca3.jpg" width="101" height="33" border="0"></a></span>
			</div>
	    </div>
	    <div><img src="{STATICURL}space/20/images/chx.jpg" width="482" height="8"></div>
		<br>
		<div class="cintro">
		  <div class="cintro_1">
          <!--{if $listpath}-->
          <img src="$listpath" width="95" height="95" />
          <!--{else}-->
          <img src="data/attachment/profile/$field3" width="95" height="95"  onerror="this.src='/weibo/images/qun_img/000/00/00/2_b.jpg'"/>
          <!--{/if}-->
 
          </div> 
		  <div class="cintro_2">$bio<!--{if $_GET ['uid']==1899615 }--><br /><br /><p><a href="/member.php?mod=register&sid=1900471"><strong>正信杯2012年天津业余高尔夫巡回赛报名入口</strong></a>
	      </p><!--{/if}--></div>
		  <div class="clear"></div>
		</div>
<script type='text/javascript'>
	//复制网址
	function copyTxt(str) {
		var clipBoardContent = '';
		clipBoardContent += str;
		window.clipboardData.setData('Text', clipBoardContent);
		alert('地址已复制成功！');
	}
</script>
<br />