<!--{subtemplate home/21_header}-->
<style type="text/css">
.rightbg_d {background-color:#7c7c7c; width:700px; overflow-x:hidden;}
.rightbg_d_2 {background-color:#CCCCCC; margin:0 auto; padding:10px 0px; width:680px;}
.cintro_d {background-color:#CCCCCC; width:680px; margin:0px auto; padding-bottom:10px;}
.cdt_lm {width:650px; height:40px; background-image:url({STATICURL}space/style/images/cdt_2_d.jpg); margin:0 auto; line-height:40px; padding-left:30px;}
.rightbg_d_3 {background-color:#FFF; padding:0px 10px; width:640px; margin:0 auto;}
</style>
<div id="wtcontent">
	
    <!-- 左边  -->
	<!--{subtemplate home/21_left}-->
    
	<div class="y rightbg_d"> 
        <br />
		<div class="cintro_d">
                <a name="maoblog"><div class="cdt_lm">
		    <span><h1><!--{$visitname}-->的产品</h1></span>
				</div>
                </a>
        </div>
		<div class="rightbg_d_2">
        <div class="rightbg_d_3">

<!--{subtemplate home/shopgoods}-->
					 
		</div>
		 </div>
        <br />
	</div>
		 
		
	
	<div class="clear"></div>
</div>

<div class="clear"></div>
<br>
<!--{subtemplate home/21_foot}-->