<!--{subtemplate home/22_header}-->
<div id="wtcontent">
	<div class="z z1">
		<!--{subtemplate home/22_left}-->
	</div>
	<div class="z z2">
		<!--{subtemplate home/common_center}-->

		<div class="cdt_lm">
			<span>微博</span>
		</div>
		<div class="cdt_2">
			<!--<span>&nbsp;&nbsp;<img src="{STATICURL}space/20/images/new.gif"></span>
			<span>您有一条新的微博消息，请注意查收</span> -->
		</div>
		<div class="cbg2"> 
				  <!--start -->
                  <IFRAME id="kjian" name="kjian" frameBorder=0 scrolling=no src="$wburl" width="100%" height="800" onload="Javascript:SetWinHeight(this)" ></iframe>
                  
                  <!--end -->
		</div>
		<br>
	</div>
	<div class="y y3">
		<!--{subtemplate home/22_right}-->
	</div>
	<div class="clear"></div>
</div>

<!--{subtemplate home/22_foot}-->
