<!--{subtemplate home/27_header}-->
<div id="wtcontent">
	<div class="z z1">
		<!--{subtemplate home/27_left}-->
	</div>
	<div class="z z2">
		<!--{subtemplate home/27_center}-->

		<div class="cdt_lm">
			<span>微博</span>
		</div>
		<div class="cdt_2">
			<span>&nbsp;&nbsp;<img src="{STATICURL}space/20/images/new.gif"></span>
			<span><!--您有一条新的微博消息，请注意查收 --></span>
		</div>
		<div class="cbg2">
		  <div class="cbg2_2">
			  <div class="cbg2_2_lm">
				  <!--start -->
                  
                  微博
                  <!--end -->
			  </div>
		  </div>
		</div>
		<br>
	</div>
	<div class="y y3">
		<!--{subtemplate home/27_right}-->
	</div>
	<div class="clear"></div>
</div>

<!--{subtemplate home/27_foot}-->
