<!--{template common/header}-->
  	<div class="zhuce_1_duan"></div>
    <div class="zhuce_2_duan"></div>
    <div class="zhuce_3_duan">
<div class="bodypadding">
       		<div class="buzhou_duan"><img src="{STATICURL}space/comm/images/buzou_1_duan.jpg"><!--<img src="{STATICURL}space/comm/images/buzou_2_duan.jpg"><img src="{STATICURL}space/comm/images/buzou_3_duan.jpg"><img src="{STATICURL}space/comm/images/buzou_4_duan.jpg"> --></div>
            <div>
            <!--内容区域 -->
            
            内容区域
            <!--内容区域 -->
            </div>
            <div class="xyb_duan">
            <span><a href="#"><img src="{STATICURL}space/comm/images/syb_duan.jpg" width="105" height="35"></a></span>
            <span><a href="#"><img src="{STATICURL}space/comm/images/xyb_duan.jpg" width="105" height="35"></a></span>
            <!--<span><img src="{STATICURL}space/comm/images/jinru_duan.jpg" width="159" height="35"></span> -->
        </div>
        </div>
    </div>
    <div class="zhuce_4_duan"></div>
<!--{template common/footer}-->
