<!--{eval output();}-->
  <div id="wt" class="footer top20">
  <div class="footer2">
  <span class="z"><a href="http://www.bwvip.com/" target="_blank"><img src="{STATICURL}space/style/images/bottomlogo.jpg" width="175" height="65" border="0" /></a></span>
  <span><a href="http://www.bwvip.com/about.php" target="_blank">关于大正</a> | <a href="http://www.bwvip.com/about.php" target="_blank">商务合作</a> | <a href="http://www.bwvip.com/zhaopin.php" target="_blank">招贤纳士</a> | <a href="http://www.bwvip.com/huoban.php" target="_blank">合作伙伴</a> | <a href="http://www.bwvip.com/lianxi.php" target="_blank">联系我们</a>  | <a href="http://www.bwvip.com/shengming.php" target="_blank">免责声明</a><br />
  大正网版权归北京大正承平文化传播有限公司 <br>
  京ICP证110339号 京公网安备110108008116号 </span></div>
  </div>
  <div style="display: none;">
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff40b000ca1f216b5034ffdb8cbe4abbd' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script language="javascript" src="http://count47.51yes.com/click.aspx?id=476847339&logo=12" charset="gb2312"></script>
  </div>


  <div style="display:none;">
<script src="http://s85.cnzz.com/stat.php?id=5106508&web_id=5106508" language="JavaScript"></script>
</div>

<iframe style="display:none; width:0; height:0;" src="http://www.zhongsou.com/" ></iframe>