<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{STATICURL}space/jingcai/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="jc jc_top"></div>
<div class="jc jc_menu1"></div>
<div class="jc jc_menu2"></div>
<div class="jc jc_con">
	<br />
    <div class="jcsy">
        <div class="z jcsy_1"><img src="{STATICURL}space/jingcai/images/dss.jpg" width="119" height="88" /></div>
      <div class="y jcsy_2">
        <h1>上海大师巡回赛</h1>
        <p>上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛</p>
        <div class="jcsy_22">
            <span><a href="#"><img src="{STATICURL}space/jingcai/images/jc_r11_c6.jpg" width="81" height="23" /></a></span>
            <span><a href="#"><img src="{STATICURL}space/jingcai/images/jc_r11_c8.jpg" width="81" height="23" /></a></span>
        </div>
        </div>
        <div class="clear"></div>
    </div>
    <br />
    <div class="jcsy">
        <div class="z jcsy_1"><img src="{STATICURL}space/jingcai/images/dss.jpg" width="119" height="88" /></div>
      <div class="y jcsy_2">
        <h1>上海大师巡回赛</h1>
        <p>上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛上海大师巡回赛</p>
        <div class="jcsy_22">
            <span><a href="#"><img src="{STATICURL}space/jingcai/images/jc_r11_c6.jpg" width="81" height="23" /></a></span>
            <span><a href="#"><img src="{STATICURL}space/jingcai/images/jc_r11_c8.jpg" width="81" height="23" /></a></span>
        </div>
      </div>
        <div class="clear"></div>
    </div>
    
</div>
<div class="jc jc_bot"></div>
</body>
</html>
