<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{STATICURL}space/jingcai/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="jc jc_top"></div>
<div class="jc jc_menu1"></div>
<div class="jc jc_menu2"></div>
<div class="jc jc_con">
	<br />
    <div class="jc_mx clearfix">
  		<div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
        <div class="z jc_mx1"><img src="{STATICURL}space/jingcai/images/toyt.jpg" width="120" height="120" /><p class="center">泰格伍兹</p></div>
    </div>
    <br />
</div>
<div class="jc jc_bot"></div>
</body>
</html>
