<style type="text/css">
/*相册圆角*/
.clearfix:after {content: "\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom: 1;}
#circular-xiangce-1{ margin-top:5px; margin-left:8px; }
#circular-xiangce-1 ul{ padding-top:8px; padding-left:5px;}
#circular-xiangce-1 li{  float:left; position:relative; text-align:center; list-style:none; color:#737373;}
#circular-xiangce-1 li a{color:#737373;}
#circular-xiangce-1 li img{display:block; width:62pz; height:57px; border:0px;}
#circular-xiangce-1 li span{position:absolute; top:0; left:0;width:62px; height:57px; background:url(../images/yuanjiao.png) center no-repeat; behavior:url("iepngfix.htc"); cursor:pointer}
 

#shop_content{width:675px;padding-top:5px;}
#shop_box{ background:#ccc; margin:0px 10px 19px 10px; padding:10px 6px; width:665px; }
#pmenu{ background:url(../images/box_men_2.jpg) repeat-y ; width:665px;padding-top:10px;}
#pmenu a{color:#fff; text-decoration:none; margin:0 17px;white-space:nowrap;
 }
#pmenu a:hover{ color:#fff; text-decoration:underline; margin:0 17px;white-space:nowrap;
 }
#pmenu ul{ margin:0px 8px;}
#pmenu li{color:#fff; float:left;line-height:25px;}
#pmenu span{color:#fff; float:left;line-height:25px;}
#pmenu li{ list-style:none; }

/*内容css*/
#content_tilte{ width:665px; margin-top:5px;background:none repeat scroll 0 0 #8D8D8D;padding:3px;}
#content_tilte_1{background:#8d8d8d; padding:5px 0px 5px 10px;;text-align:left; width:655px; margin-top:5px;}
#content_tilte .left{float:left; padding-top:3px; width:445px;height:26px;  text-align:left;background:#8d8d8d; padding-left:12px;}
#content_tilte .right{float:right;width:68px;padding-top:6px;  height:23px; text-align:left; padding-left:140px;background:#8d8d8d; }
#content_tilte .right a{background:#ccc; color:#000; padding-left:15px; padding-right:15px; height:18px; line-height:18px;}
#content{width:665px; height:auto; }
#content ul,#content ul:hover{float:left; width:157px; margin:11px 7px 0px 0px;list-style:none; padding:0px;}
#content ul{border:1px solid #949494; background:#e5e5e5;}
#content ul:hover{border:1px solid #949494; background:#fff url(../images/pro_bg.jpg) repeat-x;}

#content li{list-style:none; padding:0px; width:157px; text-align:center; clear:both; line-height:15px;}
#content .pimg {padding-bottom:8px; width: 157px; height:172px; border:0px;}
#content .pimg:hover {padding-bottom:8px; width: 150px; height:164px; padding-top:8px;border:0px;}
.bmenu{width:675px;padding-top:5px; background:#ccc; margin-left:10px;}
.bmenu ul{ float:left; list-style:none; margin:10px 33px;}
.bmenu ul li{ float:left;}
.bmenu ul li img { padding-right:5px;}
.bmenu ul li span{ font-weight:bold;}
/*#content .pimg {padding-bottom:8px; width: 157px; height:172px; border:0px;}
#content .pimg:hover {padding-bottom:8px; width: 150px; height:164px; padding-top:8px;border:0px;}*/

/*商品部分*/
.pname{font-weight:bold;  text-align:center; color:#a02d00;}
#content .pname{ font-weight:bold;  text-align:center;}
#content .pname a,#content li .pname a{ text-decoration:none;color:#953304;font-weight:bold;}
#content .pname a:hover{ text-decoration:underline;color:#953304;}
.scprice span{text-decoration:line-through; float:none; color:#979797;}
.yhprice,.yhprice{color:#933d0a}
.gw{float:left; padding:10px; padding-left:20px;}
.gw img{ border:0px;}
.ck{ float:left; padding-top:14px;}
.ck a{ text-decoration:none;color:#989898; font-weight:normal;}

 

/*商品内容页*/
.pro{float:left; margin:22px 27px 12px 30px;}
.pro img{border:1px solid #999999; width:235px; height:232px;}
.pro_nr{ background:#fff; width:337px; height:auto; clear:right; margin-top:22px; border:1px solid #999999; float:left; padding-left:17px;}
.pro_nr ul{list-style:none; margin:0px; padding:10px 0px; text-align:left;}
.pro_nr li{line-height:23px;}
.pro_title{font:14px; font-weight:bold; color:#000;}
.pro_sc{ color:#A8A8A8;}
.pro_scprice{ text-decoration:line-through;}

#shop_box_1{ background:#ccc; margin:0px 7px 19px 10px; padding:10px 1px; width:685px; }
#pmenu_1{ background:url(../images/box_men_5.jpg) repeat-y; margin-left:5px; width:675px;padding-top:10px; color:#fff;}
#pmenu_1 a{color:#fff; text-decoration:none;}
#pmenu_1 a:hover{ color:#fff; text-decoration:underline;}
#pmenu_1 ul{ margin:0px 8px;}
#pmenu_1 li{color:#fff; float:left;line-height:25px;}
#pmenu_1 span{color:#fff; float:left;line-height:25px;}
#pmenu_1 li{  list-style:none; padding:0 18px;  }
#content_tilte_2{background:#8d8d8d;text-align:left; padding:10px 0px; width:675px; margin-top:5px; margin-left:5px;}
#content_xx{background:#fff; width:630px; text-align:left; margin-left:13px; padding:10px; }
#content_tilte_2 dd{ background:url(../images/content_bg_1.jpg) no-repeat; margin:0px; text-align:center; font-weight:bold; color:#000; width:108px; height:16px; padding-top:4px; font-size:13px;}
</style> 		     
    <!--content部分开始-->
    
    <div id="shop_content">
             <div id="shop_box">
                               <!-- 商品分类开始-->
                               <div><img src="images/box_men_1.jpg"></div>
                               <div id="pmenu">
                                       <ul>  	
                                       <!--{loop $sortlist $key $value}-->
                                     <!--{if $key>0}-->  <!--{/if}-->  <li><a href="home.php?mod=space&uid=$value[uid]&do=shop&cat_id=$value[cat_id]">$value[cat_name]</a>|</li> 
                                       <!--{/loop}--><li>  <a href="home.php?mod=space&uid=$value[uid]&do=shop">全部</a></li>
                                       </ul>
                                       <div class="clear"></div>
                               </div>
                               <div><img src="images/box_men_3.jpg"></div>
                               <!--商品分类结束-->
                               <!-- 高尔夫球开始杆-->
                               <div id="content_tilte">
								<span style='padding-left:10px;'>当前位置：<a href="home.php?mod=space&uid=$_GET['uid']&do=shop">产品</a> >> $getloc</span>
								<span style="float:right;padding-right:10px;"><a href="home.php?mod=space&uid=$_G['gp_uid']&do=shop&act=cart">购物车</a></span>
							    <span style="float:right;padding-right:10px;"><a href="home.php?mod=space&uid=$_G['gp_uid']&do=shop&act=order">订单</a></span>
		      </div>
                                <div class="clear"></div>
                               <div id="content">
                               <!--{if $count}-->
                               	<!--{loop $shoplist $key $value}-->
                                              <ul>
                                                       <li><a href="home.php?mod=space&uid=$_GET['uid']&do=shop&goods_id=$value[goods_id]"><!--{if $value[goods_img]}--><img src="/shop
/$value[goods_img]" alt="$value[goods_name]" class="pimg"/><!--{/if}--></a></li>
                                                       <li class="pname"><a href="home.php?mod=space&uid=$_GET['uid']&do=shop&goods_id=$value[goods_id]" class="xi2"><!--{eval echo cutstr($value[goods_name],18,'');}--></a></li>
                                                       <li class="scprice">市场价：<span>：$value[market_price]</span></li>
                                                       <li class="yhprice">优惠价：$value[shop_price]</li>
                                                       <li>
                                                             <a href="home.php?mod=space&uid=$_GET['uid']&do=shop&goods_id=$value[goods_id]" class="gw"><img src="images/gw.png" /></a>
                                                         <a href="home.php?mod=space&uid=$_GET['uid']&do=shop&goods_id=$value[goods_id]" class="ck" >查看</a>
                                                       </li>
                                               </ul>
                               <!--{/loop}--> 
                              <!--{/if}-->                           
                               </div>
                               <div class="clear"></div>
                                <!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}--> 
                                
                                
                               <!--高尔夫球杆结束--> 
                               
                               
               </div>
               
    </div>
	<div class="bmenu">
			  	<ul>
					<li><img src="images/bmenu_1.jpg"></li>
					<li>
						<span>购买指南</span><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=lc&mao=#gmzn">购物流程</a><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=lc&mao=#cjwt">常见问题</a><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=lc&mao=#lxkf">联系客服</a>
					</li>
			  </ul>
			  <ul>
					<li><img src="images/bmenu_2.jpg"></li>
					<li>
						<span>快递运输</span><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=kd&mao=#pssm">配送说明</a><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=kd&mao=#sfbz">收费标准</a><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=kd&mao=#dhsj">到货时间</a>
					</li>
			  </ul>
			  <ul>
					<li><img src="images/bmenu_3.jpg"></li>
					<li>
						<span>支付方式</span><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=zf&mao=#zxzf">在线支付</a><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=zf&mao=#xxhk">银行汇款</a>
					</li>
			  </ul>
			  <ul>
					<li><img src="images/bmenu_4.jpg"></li>
					<li>
						<span>售后服务</span><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=sh&mao=#thzc">退换货政策</a><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=sh&mao=#wxzc">维修政策</a><br>
						<a href="home.php?mod=space&uid=$space[uid]&do=shop&ac=sh&mao=#shlx">售后服务流程</a>
					</li>
			  </ul>
			  <div class="clear"></div>
</div>
    <!--content部分结束-->