<!--{if $getstat['groupid'] < 20}-->
<!--{template home/spaces_index}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 20}-->
<!--{template home/auto_index}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 21}-->
<!--{template home/field_index}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 23}-->
<!--{template home/jiaoxue_index}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 24}-->
<!--{template home/starts_index}-->
<!--{/if}-->
<!--{if $getstat['groupid'] == 25}-->
<!--{template home/game_index}-->
<!--{/if}-->