<!-- 底部 -->
<br/>
<div id="wtbottom">
  <div class="z bottomlogo"><a href="http://bwvip.com/" target="_blank"><img src="{STATICURL}space/member/images/bottomlogo.jpg" width="175" height="59" /></a></div>
  <div class="y bottomcontent">
   <A target="_blank"
                              href="/about.php">关于大正</A> 
                             
                             | <A target="_blank"
                              href="/zhaopin.php">招贤纳士</A> 
                             | <A target="_blank"
                              href="/huoban.php" >合作伙伴</A> 
                             | <A target="_blank"
                              href="/lianxi.php" >联系我们</A> 
                              
                             | <A target="_blank"
                              href="/shengming.php" >免责声明</A>
                              | <A target="_blank"
                              href="/sitemap.php" >网站地图</A>
    <br />
  <!--{if empty($nobbname)}--> $_G['setting']['bbname']<!--{else}-->大正传媒<!--{/if}-->版权归北京大正承平文化传播有限公司 <br />
  京ICP证110339号 京公网安备110108008116号 </div>
  <div class="clear"></div>
</div>
<div style="display: none;"><script language="javascript" src="http://count47.51yes.com/click.aspx?id=476847339&logo=12" charset="gb2312"></script></div>
</body>
</html>