<!--{template home/spacecp_10_head}-->
<style type='text/css'>
.score {
	width:99%; border:1px solid #abcdef
}
.score td {
	border:1px solid #abcdef; height:25px; width:20px; text-align:center; padding:0
}
.score tr .first {
	width:80px; color:blue
}
.score tr .num {
	font-weight:bold; width:20px
}
.score tr td input {
	width:20px; height:25px; line-height:25px; margin:0; border:none
}
.score tr td .bottom {
	width:96%
}
.score tr td #time {
	width:150px; border:1px dashed gray
}
.table_miao {
	line-height:25px; border:1px solid #fff; padding:0px; margin-top:8px; margin-bottom:8px; background:##b5c5d2
}
</style>
<div id="wtcontent">
	<!-- 左侧 -->
	<!--{template home/spacecp_10_left}-->
	<!-- 右侧 -->
	<div class="rightw">
		<div class="rightlm"><h1>我的成绩卡</h1></div>
		<div style='width:600px; margin-left:30px'>
			<ul class="tb cl">
				<!--{if $_GET['ac'] == 'myscore'}--><li class='a'><!--{else}--><li><!--{/if}--><a href="home.php?mod=spacecp&ac=myscore">个人成绩卡</a></li>
				<!--{if $_GET['ac'] == 'score'}--><li class='a'><!--{else}--><li><!--{/if}--><a href="home.php?mod=spacecp&ac=score">精英赛成绩卡</a></li>
			</ul>
		</div>
		<div class="rcontent">
			<div>

		<!-------开始--------->
				<!--{subtemplate home/spacecp_score_nav}-->
				<script type="text/javascript" src="{$_G[setting][jspath]}calendar.js?{VERHASH}"></script>
				<form action='home.php?mod=spacecp&ac=myscore&op=save&do=<!--{if $operation == scoreadd}-->scoreadd<!--{else}-->edit<!--{/if}-->' method='post' enctype='multipart/form-data' onsubmit='clearErrorInfo();'>
				<!--{if ($operation == 'scoreadd' || $operation == 'edit') && empty($do)}-->
					<!--{if $operation == 'edit'}-->
					<input type='hidden' name='id' value='<!--{$scorelist[id]}-->' />
					<input type='hidden' name='scoreimg' value='<!--{$scorelist[uploadimg]}-->' />
					<!--{/if}-->
					<table cellspacing='0' cellpadding='0' class='score'>
						<tr>
							<td width="80" class='first'>球场</td>
							<td colspan='21' style='text-align:left'>
								<!--{if $operation == 'scoreadd'}-->
							  <select name='province' id='province' style='width:100px; height:100%; border:none; border-right:1px solid #abcdef; font-size:13px' onchange='getarea(this.value)'>
									<option value='0'>请选择</option>
									<!--{loop $area $key $val}-->
									<option value='<!--{$val[id]}-->'><!--{$val[name]}--></option>
									<!--{/loop}-->
								</select>
								<select name='fuid' id='field' style='width:150px; height:100%; border:none; border-right:1px solid #abcdef; border-left:1px solid #abcdef; font-size:13px' onchange='getpar(this.value)'>
									<option value='0'>请选择</option>
								</select>
								<select name='tee' id='tee' style='width:80px; height:100%; border:none; border-right:1px solid #abcdef; border-left:1px solid #abcdef; font-size:13px'>
									<option value='0'>请选择</option>
									<option value='蓝Tee'>蓝Tee</option>
									<option value='金Tee'>金Tee</option>
									<option value='黑Tee'>黑Tee</option>
									<option value='白Tee'>白Tee</option>
									<option value='红Tee'>红Tee</option>
								</select>
								<!--{else}-->
								<!--{$scorelist[name]}--> >> <!--{$scorelist[fieldname]}--> >> <!--{$scorelist[tee]}-->
								<!--{/if}-->
								<span id='rfield' style='color:red'></span>
							</td>
						</tr>
						<tr>
							<td class='first'>时间</td>
							<td colspan='21' style='text-align:left'>
								<input type="text" name='dateline' id='time' value="<!--{if $scorelist[dateline]}-->$scorelist[dateline]<!--{else}-->$_G[gp_starttime]<!--{/if}-->" onclick="showcalendar(event, this)" />
								<span id='rtime' style='color:red'></span>
							</td>
						</tr>
						<tr>
							<td class='first'>参加人数</td>
							<td colspan='4'>
								<input type='text' style='width:100%; border:1px dashed gray' name='member' value='<!--{if $scorelist[member]}-->$scorelist[member]<!--{/if}-->' maxlength='3' />
							</td>
							<td class='first' colspan='3'>备注</td>
							<td colspan='14'>
								<input type='text' style='width:99%; border:1px dashed gray' name='content' value='<!--{if $scorelist[content]}-->$scorelist[content]<!--{/if}-->' />
							</td>
						</tr>
						<tr>
							<td class='first'>上传积分卡</td>
							<td colspan='21' style='text-align:left'><input type='file' name='uploadimg' style='width:300px; border:1px solid gray' /></td>
						</tr>
						<tr>
							<td class='first'>球洞</td>
							<!--{loop $data $k $v}-->
							<td class='num'><!--{$v}--></td>
							<!--{/loop}-->
						</tr>
						<tr id='par'>
							<td class='first'>标准杆</td>
							<!--{if $scorelist[par]}-->
							<!--{loop $scorelist[par] $key $val}-->
							<td><input type='text' id='par_<!--{$key}-->' name='par[]' value='<!--{$val}-->' readonly /></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $key $val}-->
							<td>
								<input type='text' id='par_$key' name='par[]' value='' readonly />
							</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
						<tr id='score'>
							<td class='first'>成绩</td>
							<!--{if $scorelist[score]}-->
							<!--{loop $scorelist[score] $key $val}-->
							<td>
								<!--{if ($key == '9') || ($key == '19') || ($key == '20')}-->
								<input type='text' name='score[]' value='<!--{$val}-->' id='score_<!--{$key}-->' onblur="getscore('score_<!--{$key}-->')" maxlength='1' readonly />
								<!--{else}-->
								<input type='text' name='score[]' value='<!--{$val}-->' id='score_<!--{$key}-->' onblur="getscore('score_<!--{$key}-->')" maxlength='1' />
								<!--{/if}-->
							</td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $key $val}-->
							<td>
								<!--{if ($key == '9') || ($key == '19') || ($key == '20')}-->
								<input type='text' name='score[]' value='' id='score_<!--{$key}-->' onblur="getscore('score_<!--{$key}-->')" maxlength='1' readonly />
								<!--{else}-->
								<input type='text' name='score[]' value='' id='score_<!--{$key}-->' onblur="getscore('score_<!--{$key}-->')" maxlength='1' />
								<!--{/if}-->
							</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
						<tr id='pars'>
							<td class='first'>距离总标准杆</td>
							<!--{if $scorelist[pars]}-->
							<!--{loop $scorelist[pars] $key $val}-->
							<td><input type='text' name='pars[]' id='pars_<!--{$key}-->' value='<!--{$val}-->' readonly /></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $key $val}-->
							<td id='<!--{$key}-->'><input type='text' id='pars_<!--{$key}-->' name='pars[]' value='' readonly /></td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
					</table>
					<table cellspacing='0' cellpadding='0' id='more' class='score' style='display:none'>
						<tr>
							<td colspan='7'>详细资料</td>
						</tr>
						<tr>
							<td style='width:20%'>名称</td>
							<td style='width:30%'>成绩</td>
							<td style='width:20%'>名称</td>
							<td style='width:30%'>成绩</td>
						</tr>
						<tr>
							<td>平均开球距离</td>
							<td>
								<input type='text' name='total_avglength' class='bottom' value='<!--{if $scorelist[total_avglength]}--><!--{$scorelist[total_avglength]}--><!--{/if}-->' maxlength='6' />
							</td>
						</tr>
						<tr>
							<td class='morefir'>开球上球道</td>
							<td>
								<input type='text' name='total_shangdao' onblur="getaveval(this.value, 14, 'total_aveshangdao', 'shangdao')" id='total_shangdao' class='bottom' value='<!--{if $scorelist[total_shangdao]}--><!--{$scorelist[total_shangdao]}--><!--{/if}-->' maxlength='2' />
							</td>
							<td class='morefir'>开球上球道率</td>
							<td>
								<input type='text' name='total_aveshangdao' id='total_aveshangdao' class='bottom' value='<!--{if $scorelist[total_aveshangdao]}--><!--{$scorelist[total_aveshangdao]}--><!--{/if}-->' maxlength='6' readonly />
							</td>
						</tr>
						<tr>
							<td class='morefir'>总推杆数</td>
							<td>
								<input type='text' name='total_pushs' onblur="getaveval(this.value, 18, 'total_avepushs', 'pushs')" id='total_pushs' class='bottom' value='<!--{if $scorelist[total_pushs]}--><!--{$scorelist[total_pushs]}--><!--{/if}-->' maxlength='3' />
							</td>
							<td class='morefir'>平均推杆数</td>
							<td>
								<input type='text' name='total_avepushs' id='total_avepushs' class='bottom' value='<!--{if $scorelist[total_avepushs]}--><!--{$scorelist[total_avepushs]}--><!--{/if}-->' maxlength='6' readonly />
							</td>
						</tr>
						<tr>
							<td>老鹰球</td>
							<td>
								<input type='text' name='total_eagle' id='total_eagle' class='bottom' value='<!--{if $scorelist[total_eagle]}--><!--{$scorelist[total_eagle]}--><!--{/if}-->' maxlength='2' readonly />
							</td>
							<td>小鸟球</td>
							<td>
								<input type='text' name='total_birdie' id='total_birdie' class='bottom' value='<!--{if $scorelist[total_birdie]}--><!--{$scorelist[total_birdie]}--><!--{/if}-->' maxlength='2' readonly />
							</td>
						</tr>
						<tr>
							<td>柏忌数</td>
							<td>
								<input type='text' name='total_bogi' id='total_bogi' class='bottom' value='<!--{if $scorelist[total_bogi]}--><!--{$scorelist[total_bogi]}--><!--{/if}-->' maxlength='2' readonly />
							</td>
							<td>双柏忌数</td>
							<td>
								<input type='text' name='total_doubles' id='total_doubles' class='bottom' value='<!--{if $scorelist[total_doubles]}--><!--{$scorelist[total_doubles]}--><!--{/if}-->' maxlength='2' readonly />
							</td>
						</tr>
						<tr>
							<td>打平标准杆</td>
							<td>
								<input type='text' name='total_evenpar' id='total_evenpar' class='bottom' value='<!--{if $scorelist[total_evenpar]}--><!--{$scorelist[total_evenpar]}--><!--{/if}-->' maxlength='2' readonly />
							</td>
							<td>其他</td>
							<td>
								<input type='text' name='total_other' id='total_other' class='bottom' value='<!--{if $scorelist[total_other]}--><!--{$scorelist[total_other]}--><!--{/if}-->' maxlength='2' readonly />
							</td>
						</tr>
						<tr>
							<td>被罚杆数</td>
							<td>
								<input type='text' name='total_penalty' class='bottom' value='<!--{if $scorelist[total_penalty]}--><!--{$scorelist[total_penalty]}--><!--{/if}-->' maxlength='2' />
							</td>
							<td>最远击球距离</td>
							<td>
								<input type='text' name='total_furthest' class='bottom' value='<!--{if $scorelist[total_furthest]}--><!--{$scorelist[total_furthest]}--><!--{/if}-->' maxlength='4' />
							</td>
						</tr>
						<!--{if $operation == 'edit'}-->
						<tr>
							<td>缩略图</td>
							<td colspan='3'>
								<!--{if $scorelist[uploadimg]}--><img src='<!--{$scorelist[uploadimg]}-->' width='400' height='200' /><!--{else}--><img src='uploadfile/common/scoreimg.jpg' width='400' height='200' /><!--{/if}-->
							</td>
						</tr>
						<!--{/if}-->
					</table>
				<!--{elseif $operation == 'scorelist'}-->
					<!--{if $list}-->
					<!--{loop $list $key $val}-->
					<table cellspacing='0' cellpadding='0' class='score'>
						<tr>
							<td colspan='22' style='text-align:center'>
								<a href='home.php?mod=spacecp&ac=myscore&op=edit&do=detail&id=<!--{$val[id]}-->'>详细</a> | 
								<a href='home.php?mod=spacecp&ac=myscore&op=edit&id=<!--{$val[id]}-->'>修改</a> | 
								<a href='home.php?mod=spacecp&ac=myscore&op=del&id=<!--{$val[id]}-->' onclick="{if(confirm('确定操作吗？')){return true;}return false;}">删除</a>
							</td>
						</tr>
						<tr>
							<td width="80" class='first'>球场</td>
							<td colspan='21' style='text-align:left'>
								<!--{$val[name]}--> >> <!--{$val[fieldname]}--> >> <!--{$val[tee]}-->
								<span id='rfield' style='color:red'></span>
							</td>
						</tr>
						<tr>
							<td class='first'>时间</td>
							<td colspan='21' style='text-align:left'><!--{$val[dateline]}--></td>
						</tr>
						<tr>
							<td class='first'>参加人数</td>
							<td colspan='4'><!--{$val[member]}--> 人</td>
							<td class='first' colspan='3'>备注</td>
							<td colspan='14'><!--{$val[content]}--></td>
						</tr>
						<tr>
							<td class='first'>球洞</td>
							<!--{loop $data $k $v}-->
							<td class='num'><!--{$v}--></td>
							<!--{/loop}-->
						</tr>
						<tr id='par'>
							<td class='first'>标准杆</td>
							<!--{if $val[par]}-->
							<!--{loop $val[par] $k $v}-->
							<td><!--{$v}--></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $k $v}-->
							<td>&nbsp;</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
						<tr id='score'>
							<td class='first'>成绩</td>
							<!--{if $val[score]}-->
							<!--{loop $val[score] $k $v}-->
							<td><!--{$v}--></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $k $v}-->
							<td>&nbsp;</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
						<tr id='pars'>
							<td class='first'>距离总标准杆</td>
							<!--{if $val[pars]}-->
							<!--{loop $val[pars] $k $v}-->
							<td><!--{$v}--></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $k $v}-->
							<td>&nbsp;</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
					</table>
					<!--{/loop}-->
					<!--{else}-->
					<p style='height:50px; line-height:50px; width:99%; text-align:center; border:1px dashed #abcdef'>暂无数据</p>
					<!--{/if}-->
					<!--{if $multi}--><div style='text-align:right; height:80px'><!--{$multi}--></div><!--{/if}-->
				<!--{elseif $do == 'detail'}-->
					<table cellspacing='0' cellpadding='0' class='score'>
						<tr>
							<td width="80" class='first'>球场</td>
							<td colspan='21' style='text-align:left'>
								<!--{$scorelist[name]}--> >> <!--{$scorelist[fieldname]}--> >> <!--{$scorelist[tee]}-->
							</td>
						</tr>
						<tr>
							<td class='first'>时间</td>
							<td colspan='21' style='text-align:left'><!--{$scorelist[dateline]}--></td>
						</tr>
						<tr>
							<td class='first'>参加人数</td>
							<td colspan='4'><!--{$scorelist[member]}--> 人</td>
							<td class='first' colspan='3'>备注</td>
							<td colspan='14'><!--{$scorelist[content]}--></td>
						</tr>
						<tr>
							<td class='first'>球洞</td>
							<!--{loop $data $k $v}-->
							<td class='num'><!--{$v}--></td>
							<!--{/loop}-->
						</tr>
						<tr id='par'>
							<td class='first'>标准杆</td>
							<!--{if $scorelist[par]}-->
							<!--{loop $scorelist[par] $key $val}-->
							<td><!--{$val}--></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $key $val}-->
							<td>&nbsp;</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
						<tr id='score'>
							<td class='first'>成绩</td>
							<!--{if $scorelist[score]}-->
							<!--{loop $scorelist[score] $key $val}-->
							<td><!--{$val}--></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $key $val}-->
							<td>&nbsp;</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
						<tr id='pars'>
							<td class='first'>距离总标准杆</td>
							<!--{if $scorelist[pars]}-->
							<!--{loop $scorelist[pars] $key $val}-->
							<td><!--{$val}--></td>
							<!--{/loop}-->
							<!--{else}-->
							<!--{loop $num $key $val}-->
							<td>&nbsp;</td>
							<!--{/loop}-->
							<!--{/if}-->
						</tr>
					</table>
					<table cellspacing='0' cellpadding='0' id='more' class='score' style='display:none'>
						<tr>
							<td colspan='7'>详细资料</td>
						</tr>
						<tr>
							<td style='width:20%'>名称</td>
							<td style='width:30%'>成绩</td>
							<td style='width:20%'>名称</td>
							<td style='width:30%'>成绩</td>
						</tr>
						<tr>
							<td>平均开球距离</td>
							<td><!--{$scorelist[total_avglength]}--></td>
						</tr>
						<tr>
							<td class='morefir'>开球上球道</td>
							<td><!--{$scorelist[total_shangdao]}--></td>
							<td class='morefir'>开球上球道率</td>
							<td><!--{$scorelist[total_aveshangdao]}--></td>
						</tr>
						<tr>
							<td class='morefir'>总推杆数</td>
							<td><!--{$scorelist[total_pushs]}--></td>
							<td class='morefir'>平均推杆数</td>
							<td><!--{$scorelist[total_avepushs]}--></td>
						</tr>
						<tr>
							<td>老鹰球</td>
							<td><!--{$scorelist[total_eagle]}--></td>
							<td>小鸟球</td>
							<td><!--{$scorelist[total_birdie]}--></td>
						</tr>
						<tr>
							<td>柏忌数</td>
							<td><!--{$scorelist[total_bogi]}--></td>
							<td>双柏忌数</td>
							<td><!--{$scorelist[total_doubles]}--></td>
						</tr>
						<tr>
							<td>打平标准杆</td>
							<td><!--{$scorelist[total_evenpar]}--></td>
							<td>其他</td>
							<td><!--{$scorelist[total_other]}--></td>
						</tr>
						<tr>
							<td>被罚杆数</td>
							<td><!--{$scorelist[total_penalty]}--></td>
							<td>最远击球距离</td>
							<td><!--{$scorelist[total_furthest]}--></td>
						</tr>
						<tr>
							<td>缩略图</td>
							<td colspan='3'>
							<!--{if $scorelist[uploadimg]}--><img src='<!--{$scorelist[uploadimg]}-->' width='400' height='200' /><!--{else}--><img src='uploadfile/common/scoreimg.jpg' width='400' height='200' /><!--{/if}-->
							</td>
						</tr>
					</table>
				<!--{/if}-->
				<!--{if $operation != 'scorelist'}-->
				<table cellspacing='0' cellpadding='0' class='score'>
					<!--{if empty($do)}-->
					<tr>
						<td style='width:800px; text-align:center'>
							<button type='submit' name='profilesubmitbtn' value='true' id='profilesubmitbtn' onclick='return checksubmit()' class='pn pnc' /><strong>{lang save}</strong></button>
							<span id='rscore' style='color:red'></span>
						</td>
					</tr>
					<!--{/if}-->
					<tr>
						<td class='first' style='text-align:right; width:99%' id='base'><span onclick='getmore()' id='getmore' style='cursor:hand'>更多资料 >></span>&nbsp;&nbsp;&nbsp;&nbsp;</td>
					</tr>
				</table>
				<!--{/if}-->
				</form>
				<script type="text/javascript" src='static/js/jquery.js'></script>
				<script type="text/javascript">
					function getmore() {
						var html = "<span onclick='getbase()' id='getmore' style='cursor:hand'>基本资料 >></span>&nbsp;&nbsp;&nbsp;&nbsp;";
						jQuery('#base').html(html);
						jQuery('#more').css('display', '');
					}
					function getbase() {
						jQuery('#more').css('display', 'none');
						var html = "<span onclick='getmore()' id='getmore' style='cursor:hand'>更多资料 >></span>&nbsp;&nbsp;&nbsp;&nbsp;";
						jQuery('#base').html(html);
					}
					function getarea(val) {
						var url = 'ajax.php?do=area&val='+val;
						jQuery.post(url, {}, function(msg) {
							jQuery('#field').html(msg);
						});
					}
					function getparsum() {
						var par_9 = jQuery('#par_9').val();
						var score_9 = jQuery('#score_9').val();
						var pars_9 = score_9 - par_9;
						jQuery('#pars_9').val(pars_9);
						var par_19 = jQuery('#par_19').val();
						var score_19 = jQuery('#score_19').val();
						var pars_19 = score_19 - par_19;
						jQuery('#pars_19').val(pars_19);
						var par_20 = jQuery('#par_20').val();
						var score_20 = jQuery('#score_20').val();
						var pars_20 = score_20 - par_20;
						jQuery('#pars_20').val(pars_20);
					}
					function getscore(str) {
						getparsum();
						var total_eagle = total_birdie = total_bogi = total_doubles = total_evenpar = 0;
						var prefix = str.substr(0, 5);
						var num = str.substr(6, 2);

						var sco = parseInt(jQuery('#'+str).val()) ? parseInt(jQuery('#'+str).val()) : parseInt(0);

						var par = jQuery('#par_'+num).val() ? parseInt(jQuery('#par_'+num).val()) : parseInt(0);
						var pars = sco - par;
						pars = (pars == '0') ? 'E' : pars;
						jQuery('#'+'pars_'+num).val(pars);

						var sum = 0;
						var val = 0;
						var cou = 0;
						var plus = 0;
						for(var i = 0; i < 9; i++) {
							var val = parseInt(jQuery('#'+(prefix+'_'+i)).val()) ? parseInt(jQuery('#'+(prefix+'_'+i)).val()) : parseInt(0);
							sum = sum + val;
						}
						jQuery('#'+prefix+'_9').val(sum);
						for(var i = 10; i < 19; i++) {
							var cou = parseInt(jQuery('#'+(prefix+'_'+i)).val()) ? parseInt(jQuery('#'+(prefix+'_'+i)).val()) : parseInt(0);
							plus = plus + cou;
						}
						jQuery('#'+prefix+'_19').val(plus);
						var sums = sum + plus;
						jQuery('#'+prefix+'_20').val(sums);
						for(var i = 0; i < 19; i++) {
							if(i != '9') {
								var val = jQuery('#pars_'+i).val();
								if(val == 'E') {
									total_evenpar++;		//打平标准杆
								}
								if(val == '-2') {
									total_eagle++;		//老鹰球
								}
								if(val == '-1') {
									total_birdie++;		//小鸟球
								}
								if(val == '1') {
									total_bogi++;		//柏忌数
								}
								if(val == '2') {
									total_doubles++;		//双柏忌数
								}
							}
						}
						var total = total_evenpar + total_eagle + total_birdie + total_bogi + total_doubles;
						var total_otert = 18 - total;
						jQuery('#total_evenpar').val(total_evenpar);
						jQuery('#total_eagle').val(total_eagle);
						jQuery('#total_birdie').val(total_birdie);
						jQuery('#total_bogi').val(total_bogi);
						jQuery('#total_doubles').val(total_doubles);
						jQuery('#total_other').val(total_otert);
					}
					function getaveval(val, num, sid, flag) {
						if(flag == 'pushs') {
							if(parseInt(val) > 18) {
								val = 18;
								jQuery('#total_pushs').val(val);
							}
							var ave = (parseInt(val) / num).toFixed(2);
						} else {
							if(parseInt(val) > 14) {
								val = 14;
								jQuery('#total_shangdao').val(val);
							}
							var ave = ((parseInt(val) / num)*100).toFixed(2);
						}
						jQuery('#'+sid).val(ave);
					}
					function checksubmit() {
						var flag = 1;
						var area = jQuery('#province').val();
						var val = jQuery('#field').val();
						var tee = jQuery('#tee').val();
						var time = jQuery('#time').val();
						if(area == '' || area == '0') {
							jQuery('#rfield').html('请选择地点');
							return false;
						}
						if(val == '' || val == '0') {
							jQuery('#rfield').html('选择球场');
							return false;
						}
						if(tee == '' || tee == '0') {
							jQuery('#rfield').html('请填写Tee的类型');
							return false;
						}
						if(time == '' || time == '0') {
							jQuery('#rtime').html('请填写时间');
							return false;
						}
						for(var i = 0; i < 19; i++) {
							var val = jQuery('#score_'+i).val();
							if(val == '' || val == '0') {
								flag = 0;
								break;
							}
						}
						if(flag == '0') {
							jQuery('#rscore').html('请填写成绩');
							return false;
						}
					}
					function getpar(id) {
						var url = 'ajax.php?do=par&id='+id;
						jQuery.get(url, {}, function(msg) {
							var arr = new Array();
							arr = msg.split('|');
							jQuery.each(arr, function(k, v) {
								jQuery('#par_'+k).val(v);
							})
						});
					}
				</script>
		<!-------结束--------->

			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<!--{template home/spacecp_foot_comm}-->
