<!--{subtemplate home/21_header}-->
<style>
/* pages */
.pg{ clear:both; margin:10px 0; }
	.pg em, .pg a, .pg strong{ text-decoration:none; margin-left:3px; padding:2px 5px; border:1px solid #E5E5E5;background-color:#fff;}
		.pg a:hover{ text-decoration:none; border:1px solid #09C; background:#09C; color:#FFF; }
	.pg strong{ border:none; font-weight:700; }
	.pg kbd input{ margin-left:5px; width:20px; vertical-align:middle; }
.cuspages{ margin:3px 0; line-height:200%; }
	.cuspages .pg{ display:inline; clear:none; margin-right:10px; }
.fixsel select{ margin:3px 5px 3px 0; }
.pg a.prev {
    background-image: url("http://www.bwvip.com/static/image/common/arw_l.gif");
    background-position: 50% 50%;
}
</style>

<div id="wtcontent">
	<!--{subtemplate home/21_left}-->
	<div class="z z2">
	<div class="clear8"></div>
	    <div class="cintro">
        <!-- 中间部分 -->
        <div class="cbg2_2">

            <div class="cbg2_3">
          <div style="padding-top:10px; padding-bottom:10px;">
          <!--{loop $ylist $vk}-->
                        <div style="width:100px; height:100px; overflow:hidden;" class="z center">
                  <p class="center"></p><div style="padding:2px; border:1px solid #CCC; width:48px; height:48px; margin:0 auto;"><a href="/home.php?mod=space&uid=$vk[uid]" target="_blank"><img src="uc_server/avatar.php?uid=$vk[uid]&size=small"></a></div><p></p>
                  <p><a href="/home.php?mod=space&uid=$vk[uid]" target="_blank">$vk["realname"]</a></p>
              </div>
          <!--{/loop}--><br /><br />
                      <div>$disppage</div> 
                    <div class="clear"></div>
          </div>
  </div>
               
  </div>
        <!-- 中间部分 -->
		</div>
		<br>
	</div>
	<!--{subtemplate home/21_right}-->
	<div class="clear"></div>
</div>

<br />
<!--{subtemplate home/21_foot}-->
